# Import Libraries & Data

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import QuantileTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.colors import ListedColormap
import statsmodels.api as sm
from scipy.stats import boxcox

## Import Data

In [2]:
info = pd.read_excel("Data/data_dictionary.xlsx")

In [3]:
info

,Variable,Meaning,Levels
0,Age,Age of the employee,NaN
1,Attrition,Whether the employee left in the previous year...,NaN
2,BusinessTravel,How frequently the employees travelled for bus...,NaN
3,Department,Department in company,NaN
4,DistanceFromHome,Distance from home in kms,NaN
5,Education,Education Level,1 'Below College'
6,NaN,NaN,2 'College'
7,NaN,NaN,3 'Bachelor'
8,NaN,NaN,4 'Master'
9,NaN,NaN,5 'Doctor'
10,EducationField,Field of education,NaN
11,EmployeeCount,Employee count,NaN
12,EmployeeNumber,Employee number/id,NaN
13,EnvironmentSatisfaction,Work Environment Satisfaction Level,1 'Low'
14,NaN,NaN,2 'Medium'
15,NaN,NaN,3 'High'
16,NaN,NaN,4 'Very High'
17,Gender,Gender of employee,NaN
18,JobInvolvement,Job Involvement Level,1 'Low'
19,NaN,NaN,2 'Medium'
20,NaN,NaN,3 'High'
21,NaN,NaN,4 'Very High'
22,JobLevel,Job level at company on a scale of 1 to 5,NaN
23,JobRole,Name of job role in company,NaN
24,JobSatisfaction,Job Satisfaction Level,1 'Low'
25,NaN,NaN,2 'Medium'
26,NaN,NaN,3 'High'
27,NaN,NaN,4 'Very High'
28,MaritalStatus,Marital status of the employee,NaN
29,MonthlyIncome,Monthly income in rupees per month,NaN
30,NumCompaniesWorked,Total number of companies the employee has wor...,NaN
31,Over18,Whether the employee is above 18 years of age ...,NaN
32,PercentSalaryHike,Percent salary hike for last year,NaN
33,PerformanceRating,Performance rating for last year,1 'Low'
34,NaN,NaN,2 'Good'
35,NaN,NaN,3 'Excellent'
36,NaN,NaN,4 'Outstanding'
37,RelationshipSatisfaction,Relationship satisfaction level,1 'Low'
38,NaN,NaN,2 'Medium'
39,NaN,NaN,3 'High'
40,NaN,NaN,4 'Very High'
41,StandardHours,Standard hours of work for the employee,NaN
42,StockOptionLevel,Stock option level of the employee,NaN
43,TotalWorkingYears,Total number of years the employee has worked ...,NaN
44,TrainingTimesLastYear,Number of times training was conducted for thi...,NaN
45,WorkLifeBalance,Work life balance level,1 'Bad'
46,NaN,NaN,2 'Good'
47,NaN,NaN,3 'Better'
48,NaN,NaN,4 'Best'
49,YearsAtCompany,Total number of years spent at the company by ...,NaN
50,YearsSinceLastPromotion,Number of years since last promotion,NaN
51,YearsWithCurrManager,Number of years under current manager,NaN

In [4]:
survey= pd.read_csv("Data/employee_survey_data.csv")
survey.columns= survey.columns.str.lower()
survey

      employeeid  environmentsatisfaction  jobsatisfaction  worklifebalance
0              1                      3.0              4.0              2.0
1              2                      3.0              2.0              4.0
2              3                      2.0              2.0              1.0
3              4                      4.0              4.0              3.0
4              5                      4.0              1.0              3.0
...          ...                      ...              ...              ...
4405        4406                      4.0              1.0              3.0
4406        4407                      4.0              4.0              3.0
4407        4408                      1.0              3.0              3.0
4408        4409                      4.0              1.0              3.0
4409        4410                      1.0              3.0              NaN

[4410 rows x 4 columns]

In [5]:
#check for nan values
survey.isnull().values.any()

True

In [6]:
display(survey.isnull().sum())

employeeid                  0
environmentsatisfaction    25
jobsatisfaction            20
worklifebalance            38
dtype: int64

In [7]:
general= pd.read_csv('Data/general_data.csv')
general
general.columns= general.columns.str.lower()
general

,age,attrition,businesstravel,department,distancefromhome,education,educationfield,employeecount,employeeid,gender,joblevel,jobrole,maritalstatus,monthlyincome,numcompaniesworked,over18,percentsalaryhike,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,yearsatcompany,yearssincelastpromotion,yearswithcurrmanager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,Human Resources,Married,83210,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,Sales Executive,Single,23420,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,1,Research Scientist,Single,60290,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,1,Laboratory Technician,Divorced,26790,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,2,Sales Executive,Married,37020,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,1,Laboratory Technician,Divorced,23980,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,2,Laboratory Technician,Divorced,54680,0.0,Y,12,8,0,NaN,6,21,3,9

In [8]:
general["employeecount"].unique()

array([1])

In [9]:
general["over18"].value_counts()

Y    4410
Name: over18, dtype: int64

In [10]:
manager= pd.read_csv('Data/manager_survey_data.csv')
manager.columns= manager.columns.str.lower()

In [11]:
general["over18"].unique()

array(['Y'], dtype=object)

In [12]:
# merge data sets

In [13]:
general= pd.merge(general, survey, on = "employeeid", how = "inner")
general

,age,attrition,businesstravel,department,distancefromhome,education,educationfield,employeecount,employeeid,gender,joblevel,jobrole,maritalstatus,monthlyincome,numcompaniesworked,over18,percentsalaryhike,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,yearsatcompany,yearssincelastpromotion,yearswithcurrmanager,environmentsatisfaction,jobsatisfaction,worklifebalance
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0,3.0,4.0,2.0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.0,Y,23,8,1,6.0,3,5,1,4,3.0,2.0,4.0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.0,Y,15,8,3,5.0,2,5,0,3,2.0,2.0,1.0
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,Human Resources,Married,83210,3.0,Y,11,8,3,13.0,5,8,7,5,4.0,4.0,3.0
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,Sales Executive,Single,23420,4.0,Y,12,8,2,9.0,2,6,0,4,4.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,1,Research Scientist,Single,60290,3.0,Y,17,8,1,10.0,5,3,0,2,4.0,1.0,3.0
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,1,Laboratory Technician,Divorced,26790,2.0,Y,15,8,0,10.0,2,3,0,2,4.0,4.0,3.0
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,2,Sales Executive,Married,37020,0.0,Y,20,8,0,5.0,4,4,1,2,1.0,3.0,3.0
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,1,Laboratory Technician,Divorced,23980,0.0,Y,14,8,1,10.0,2,9,7,8,4.0,1.0,3.0
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,2,Laboratory Technician,Divorced,54680,0.0,Y,12,8,0,NaN,6,21,3,9,1.0,3.0,NaN

In [14]:
general= pd.merge(general, manager, on = "employeeid", how = "inner")

In [15]:
general

,age,attrition,businesstravel,department,distancefromhome,education,educationfield,employeecount,employeeid,gender,joblevel,jobrole,maritalstatus,monthlyincome,numcompaniesworked,over18,percentsalaryhike,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,yearsatcompany,yearssincelastpromotion,yearswithcurrmanager,environmentsatisfaction,jobsatisfaction,worklifebalance,jobinvolvement,performancerating
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0,3.0,4.0,2.0,3,3
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.0,Y,23,8,1,6.0,3,5,1,4,3.0,2.0,4.0,2,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.0,Y,15,8,3,5.0,2,5,0,3,2.0,2.0,1.0,3,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,Human Resources,Married,83210,3.0,Y,11,8,3,13.0,5,8,7,5,4.0,4.0,3.0,2,3
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,Sales Executive,Single,23420,4.0,Y,12,8,2,9.0,2,6,0,4,4.0,1.0,3.0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,1,Research Scientist,Single,60290,3.0,Y,17,8,1,10.0,5,3,0,2,4.0,1.0,3.0,3,3
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,1,Laboratory Technician,Divorced,26790,2.0,Y,15,8,0,10.0,2,3,0,2,4.0,4.0,3.0,2,3
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,2,Sales Executive,Married,37020,0.0,Y,20,8,0,5.0,4,4,1,2,1.0,3.0,3.0,3,4
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,1,Laboratory Technician,Divorced,23980,0.0,Y,14,8,1,10.0,2,9,7,8,4.0,1.0,3.0,2,3
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,2,Laboratory Technician,Divorced,54680,0.0,Y,12,8,0,NaN,6,21,3,9,1.0,3.0,NaN,4,3

In [16]:
general.dtypes

age                          int64
attrition                   object
businesstravel              object
department                  object
distancefromhome             int64
education                    int64
educationfield              object
employeecount                int64
employeeid                   int64
gender                      object
joblevel                     int64
jobrole                     object
maritalstatus               object
monthlyincome                int64
numcompaniesworked         float64
over18                      object
percentsalaryhike            int64
standardhours                int64
stockoptionlevel             int64
totalworkingyears          float64
trainingtimeslastyear        int64
yearsatcompany               int64
yearssincelastpromotion      int64
yearswithcurrmanager         int64
environmentsatisfaction    float64
jobsatisfaction            float64
worklifebalance            float64
jobinvolvement               int64
performancerating            int64
dtype: object

In [17]:
general['jobsatisfaction'].unique()

array([ 4.,  2.,  1.,  3., nan])

In [18]:
general['totalworkingyears'].unique()

array([ 1.,  6.,  5., 13.,  9., 28., 10., 21., 16., 37.,  7.,  3., 15.,
        8., nan, 12., 17., 19., 22.,  2.,  4., 23.,  0., 11., 24., 25.,
       20., 14., 26., 18., 30., 36., 31., 33., 32., 34., 40., 29., 35.,
       27., 38.])

In [19]:
display(general.isnull().sum())

age                         0
attrition                   0
businesstravel              0
department                  0
distancefromhome            0
education                   0
educationfield              0
employeecount               0
employeeid                  0
gender                      0
joblevel                    0
jobrole                     0
maritalstatus               0
monthlyincome               0
numcompaniesworked         19
over18                      0
percentsalaryhike           0
standardhours               0
stockoptionlevel            0
totalworkingyears           9
trainingtimeslastyear       0
yearsatcompany              0
yearssincelastpromotion     0
yearswithcurrmanager        0
environmentsatisfaction    25
jobsatisfaction            20
worklifebalance            38
jobinvolvement              0
performancerating           0
dtype: int64

In [20]:
general.drop_duplicates()

,age,attrition,businesstravel,department,distancefromhome,education,educationfield,employeecount,employeeid,gender,joblevel,jobrole,maritalstatus,monthlyincome,numcompaniesworked,over18,percentsalaryhike,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,yearsatcompany,yearssincelastpromotion,yearswithcurrmanager,environmentsatisfaction,jobsatisfaction,worklifebalance,jobinvolvement,performancerating
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0,3.0,4.0,2.0,3,3
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.0,Y,23,8,1,6.0,3,5,1,4,3.0,2.0,4.0,2,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.0,Y,15,8,3,5.0,2,5,0,3,2.0,2.0,1.0,3,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,Human Resources,Married,83210,3.0,Y,11,8,3,13.0,5,8,7,5,4.0,4.0,3.0,2,3
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,Sales Executive,Single,23420,4.0,Y,12,8,2,9.0,2,6,0,4,4.0,1.0,3.0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,1,Research Scientist,Single,60290,3.0,Y,17,8,1,10.0,5,3,0,2,4.0,1.0,3.0,3,3
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,1,Laboratory Technician,Divorced,26790,2.0,Y,15,8,0,10.0,2,3,0,2,4.0,4.0,3.0,2,3
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,2,Sales Executive,Married,37020,0.0,Y,20,8,0,5.0,4,4,1,2,1.0,3.0,3.0,3,4
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,1,Laboratory Technician,Divorced,23980,0.0,Y,14,8,1,10.0,2,9,7,8,4.0,1.0,3.0,2,3
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,2,Laboratory Technician,Divorced,54680,0.0,Y,12,8,0,NaN,6,21,3,9,1.0,3.0,NaN,4,3

# Data Cleaning

## Replacing null value with 0

In [21]:
np.where(general['numcompaniesworked'].isnull())[0]

array([ 115,  210,  343,  476,  647,  799,  932, 1103, 1312, 1521, 1711,
       1996, 2365, 2696, 3063, 3533, 3910, 4226, 4395])

In [22]:
general['numcompaniesworked'] = general['numcompaniesworked'].fillna(value = 0)

In [23]:
general['numcompaniesworked'].isnull().sum()

0

In [24]:
general['numcompaniesworked'].value_counts()

1.0    1558
0.0     605
3.0     474
2.0     438
4.0     415
7.0     222
6.0     208
5.0     187
9.0     156
8.0     147
Name: numcompaniesworked, dtype: int64

## Replacing null value with mode

In [25]:
np.where(general['environmentsatisfaction'].isnull())[0]

array([  11,  111,  195,  300,  405,  489,  678,  846,  909, 1077, 1224,
       1476, 1812, 2148, 2379, 2568, 2736, 2925, 3114, 3261, 3387, 3534,
       3681, 3996, 4332])

In [26]:
for column in ['environmentsatisfaction']:
    general[column].fillna(general[column].mode()[0], inplace=True)

In [27]:
general['environmentsatisfaction'].isnull().sum()

0

## Replacing null value with mode

In [28]:
np.where(general['jobsatisfaction'].isnull())[0]

array([  40,  124,  313,  586,  859, 1195, 1468, 1678, 1909, 2182, 2476,
       2707, 2875, 3085, 3295, 3526, 3778, 4030, 4219, 4345])

In [29]:
for column in ['jobsatisfaction']:
    general[column].fillna(general[column].mode()[0], inplace=True)

In [30]:
general['jobsatisfaction'].isnull().sum()

0

## Replacing null value with mode

In [31]:
np.where(general['worklifebalance'].isnull())[0]

array([  84,  273,  483,  609,  735,  861,  987, 1092, 1197, 1260, 1323,
       1407, 1470, 1533, 1596, 1659, 1722, 1785, 1848, 1911, 1953, 2016,
       2079, 2142, 2226, 2310, 2394, 2478, 2583, 2709, 2898, 3024, 3339,
       3654, 3885, 4116, 4305, 4409])

In [32]:
for column in ['worklifebalance']:
    general[column].fillna(general[column].mode()[0], inplace=True)

In [33]:
general['worklifebalance'].isnull().sum()

0

## Replacing null value with mode totalworkingyears

In [34]:
for column in ['totalworkingyears']:
    general[column].fillna(general[column].mode()[0], inplace=True)

In [35]:
general.isnull().sum()

age                        0
attrition                  0
businesstravel             0
department                 0
distancefromhome           0
education                  0
educationfield             0
employeecount              0
employeeid                 0
gender                     0
joblevel                   0
jobrole                    0
maritalstatus              0
monthlyincome              0
numcompaniesworked         0
over18                     0
percentsalaryhike          0
standardhours              0
stockoptionlevel           0
totalworkingyears          0
trainingtimeslastyear      0
yearsatcompany             0
yearssincelastpromotion    0
yearswithcurrmanager       0
environmentsatisfaction    0
jobsatisfaction            0
worklifebalance            0
jobinvolvement             0
performancerating          0
dtype: int64

## Handling Null Value

In [36]:
for column in general.columns:
    if general[column].dtype == 'float64':
        general[column] = general[column].astype('int64')

In [37]:
general.dtypes

age                         int64
attrition                  object
businesstravel             object
department                 object
distancefromhome            int64
education                   int64
educationfield             object
employeecount               int64
employeeid                  int64
gender                     object
joblevel                    int64
jobrole                    object
maritalstatus              object
monthlyincome               int64
numcompaniesworked          int64
over18                     object
percentsalaryhike           int64
standardhours               int64
stockoptionlevel            int64
totalworkingyears           int64
trainingtimeslastyear       int64
yearsatcompany              int64
yearssincelastpromotion     int64
yearswithcurrmanager        int64
environmentsatisfaction     int64
jobsatisfaction             int64
worklifebalance             int64
jobinvolvement              int64
performancerating           int64
dtype: object

## Dropping not informative columns

In [38]:
general['over18'].value_counts()

Y    4410
Name: over18, dtype: int64

In [39]:
general['employeecount'].value_counts()

1    4410
Name: employeecount, dtype: int64

In [40]:
general['standardhours'].value_counts()

8    4410
Name: standardhours, dtype: int64

In [41]:
general = general.drop(['over18','employeecount', 'standardhours' ], axis = 1).reset_index(drop = True)

In [42]:
general

,age,attrition,businesstravel,department,distancefromhome,education,educationfield,employeeid,gender,joblevel,jobrole,maritalstatus,monthlyincome,numcompaniesworked,percentsalaryhike,stockoptionlevel,totalworkingyears,trainingtimeslastyear,yearsatcompany,yearssincelastpromotion,yearswithcurrmanager,environmentsatisfaction,jobsatisfaction,worklifebalance,jobinvolvement,performancerating
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,Female,1,Healthcare Representative,Married,131160,1,11,0,1,6,1,0,0,3,4,2,3,3
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,2,Female,1,Research Scientist,Single,41890,0,23,1,6,3,5,1,4,3,2,4,2,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,3,Male,4,Sales Executive,Married,193280,1,15,3,5,2,5,0,3,2,2,1,3,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,4,Male,3,Human Resources,Married,83210,3,11,3,13,5,8,7,5,4,4,3,2,3
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,5,Male,1,Sales Executive,Single,23420,4,12,2,9,2,6,0,4,4,1,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,4406,Female,1,Research Scientist,Single,60290,3,17,1,10,5,3,0,2,4,1,3,3,3
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,4407,Male,1,Laboratory Technician,Divorced,26790,2,15,0,10,2,3,0,2,4,4,3,2,3
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,4408,Male,2,Sales Executive,Married,37020,0,20,0,5,4,4,1,2,1,3,3,3,4
4408,42,No,Travel_Rarely,Sales,18,2,Medical,4409,Male,1,Laboratory Technician,Divorced,23980,0,14,1,10,2,9,7,8,4,1,3,2,3
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,4410,Male,2,Laboratory Technician,Divorced,54680,0,12,0,10,6,21,3,9,1,3,3,4,3

# Data Processing

## Transforming dt Time

In [43]:
in_time= pd.read_csv('Data/in_time.csv')
in_time.head()

,Unnamed: 0,2015-01-01,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,2015-01-15,2015-01-16,2015-01-19,2015-01-20,2015-01-21,2015-01-22,2015-01-23,2015-01-26,2015-01-27,2015-01-28,2015-01-29,2015-01-30,2015-02-02,2015-02-03,2015-02-04,2015-02-05,2015-02-06,2015-02-09,2015-02-10,2015-02-11,2015-02-12,2015-02-13,2015-02-16,2015-02-17,2015-02-18,2015-02-19,2015-02-20,2015-02-23,2015-02-24,2015-02-25,2015-02-26,2015-02-27,2015-03-02,2015-03-03,2015-03-04,2015-03-05,2015-03-06,2015-03-09,2015-03-10,2015-03-11,2015-03-12,2015-03-13,2015-03-16,2015-03-17,2015-03-18,2015-03-19,2015-03-20,2015-03-23,2015-03-24,2015-03-25,2015-03-26,2015-03-27,2015-03-30,2015-03-31,2015-04-01,2015-04-02,2015-04-03,2015-04-06,2015-04-07,2015-04-08,2015-04-09,2015-04-10,2015-04-13,2015-04-14,2015-04-15,2015-04-16,2015-04-17,2015-04-20,2015-04-21,2015-04-22,2015-04-23,2015-04-24,2015-04-27,2015-04-28,2015-04-29,2015-04-30,2015-05-01,2015-05-04,2015-05-05,2015-05-06,2015-05-07,2015-05-08,2015-05-11,2015-05-12,2015-05-13,2015-05-14,2015-05-15,2015-05-18,2015-05-19,2015-05-20,2015-05-21,2015-05-22,2015-05-25,2015-05-26,2015-05-27,2015-05-28,2015-05-29,2015-06-01,2015-06-02,2015-06-03,2015-06-04,2015-06-05,2015-06-08,2015-06-09,2015-06-10,2015-06-11,2015-06-12,2015-06-15,2015-06-16,2015-06-17,2015-06-18,2015-06-19,2015-06-22,2015-06-23,2015-06-24,2015-06-25,2015-06-26,2015-06-29,2015-06-30,2015-07-01,2015-07-02,2015-07-03,2015-07-06,2015-07-07,2015-07-08,2015-07-09,2015-07-10,2015-07-13,2015-07-14,2015-07-15,2015-07-16,2015-07-17,2015-07-20,2015-07-21,2015-07-22,2015-07-23,2015-07-24,2015-07-27,2015-07-28,2015-07-29,2015-07-30,2015-07-31,2015-08-03,2015-08-04,2015-08-05,2015-08-06,2015-08-07,2015-08-10,2015-08-11,2015-08-12,2015-08-13,2015-08-14,2015-08-17,2015-08-18,2015-08-19,2015-08-20,2015-08-21,2015-08-24,2015-08-25,2015-08-26,2015-08-27,2015-08-28,2015-08-31,2015-09-01,2015-09-02,2015-09-03,2015-09-04,2015-09-07,2015-09-08,2015-09-09,2015-09-10,2015-09-11,2015-09-14,2015-09-15,2015-09-16,2015-09-17,2015-09-18,2015-09-21,2015-09-22,2015-09-23,2015-09-24,2015-09-25,2015-09-28,2015-09-29,2015-09-30,2015-10-01,2015-10-02,2015-10-05,2015-10-06,2015-10-07,2015-10-08,2015-10-09,2015-10-12,2015-10-13,2015-10-14,2015-10-15,2015-10-16,2015-10-19,2015-10-20,2015-10-21,2015-10-22,2015-10-23,2015-10-26,2015-10-27,2015-10-28,2015-10-29,2015-10-30,2015-11-02,2015-11-03,2015-11-04,2015-11-05,2015-11-06,2015-11-09,2015-11-10,2015-11-11,2015-11-12,2015-11-13,2015-11-16,2015-11-17,2015-11-18,2015-11-19,2015-11-20,2015-11-23,2015-11-24,2015-11-25,2015-11-26,2015-11-27,2015-11-30,2015-12-01,2015-12-02,2015-12-03,2015-12-04,2015-12-07,2015-12-08,2015-12-09,2015-12-10,2015-12-11,2015-12-14,2015-12-15,2015-12-16,2015-12-17,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-25,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,NaN,2015-01-02 09:43:45,2015-01-05 10:08:48,2015-01-06 09:54:26,2015-01-07 09:34:31,2015-01-08 09:51:09,2015-01-09 10:09:25,2015-01-12 09:42:53,2015-01-13 10:13:06,NaN,2015-01-15 10:01:24,2015-01-16 10:19:08,NaN,2015-01-20 09:50:34,2015-01-21 09:49:42,2015-01-22 09:47:45,2015-01-23 09:23:44,NaN,2015-01-27 09:50:37,2015-01-28 09:56:13,2015-01-29 09:53:47,2015-01-30 10:09:26,2015-02-02 09:38:43,2015-02-03 10:23:38,2015-02-04 09:48:37,2015-02-05 09:52:36,2015-02-06 09:53:23,2015-02-09 10:01:45,2015-02-10 10:14:18,2015-02-11 10:18:44,2015-02-12 10:10:35,2015-02-13 09:13:07,2015-02-16 10:14:02,2015-02-17 10:03:08,2015-02-18 10:23:06,NaN,2015-02-20 09:54:56,2015-02-23 09:46:59,2015-02-24 10:11:18,2015-02-25 09:52:36,2015-02-26 09:56:33,2015-02-27 09:58:46,2015-03-02 10:19:43,2015-03-03 10:08:37,2015-03-04 10:05:38,NaN,2015-03-06 09:55:53,2015-03-09 10:28:34,2015-03-10 09:47:30,2015-03-11 09:48:59,2015-03-12 10:10:51,2015-03-13 10:07:18,NaN,2015-03-17 10:05:22,2015-03-18 10:28:21,2015-03-19 10:01:52,2015-03-20 10:37:49,2015-03-23 10:11:19,2015-03-24 10:33:19,2015-03-25 09:41:35,NaN,2015-03-27 09:47:30,2015-03-30 10:11:44,2015-03-31 10:08:13,2015-04-01 10:12:37,2015-04-02 09:45:27,2015-04-03 10:00:30,2015-04-06 09:40:19,2015-04-07 10:16:43,2015-04-08 10:04:34,2015-04-09 09:21:27,2015-04-10 09:46:25,2015-04-13 09:39:30,2015-04-14 09:58:48,2015-04-15 09:55:56,2015-04-16 09:46:07,2015-04-17 09:54:13,2015-04-20 10:03:25,2015-04-21 09:50:41,2015-04-22 09:56:16,2015-04-23 10:12:42,2015-04-24 10:05:40,2015-04-27 10:12:01,2015-04-28 09:57:24,2015-04-29 09:46:15,2015-04-30 09:48:30,NaN,2015-05-04 09:40:52,2015-05-05 09:54:59,2015-05-06 09:49:06,2015-05-07 10:06:47,2015-05-08 09:55:02,NaN,2015-05-12 09:50:17,2015-05-13 10:24:03,2015-05-14 09:50:43,2015-05-15 09:55:32,NaN,2015-05-19 09:49:06,2015-05-20 10:00:39,2015-05-21 09:53:15,2015-05-22 10:19:44,2015-05-25 10:15:25,2015-05-26 10:17:01,2015-05-27 09:41:25,2015-05-28 09:57:00,NaN,NaN,2015-06-02 10:20:49,2015-06-03 09:47:19,2015-06-04 10:23:40,NaN,2015-06-08 10:17:56,NaN,2015-06-10 09:54:33,2015-06-11 09:47:09,2015-06-12 10:13:55,2015-06-15 09:50:19,2015-06-16 09:59:04,2015-06-17 09:46:15,2015-06-18 10:03:15,2015-06-19 10:06:21,2015-06-22 09:48:40,2015-06-23 09:56:55,2015-06-24 09:59:40,2015-06-25 09:52:01,2015-06-26 10:07:58,2015-06-29 10:01:19,2015-06-30 10:27:40,2015-07-01 09:39:02,2015-07-02 10:07:33,2015-07-03 09:59:57,2015-07-06 09:37:06,2015-07-07 10:08:17,2015-07-08 09:56:30,2015-07-09 09:21:57,2015-07-10 09:43:31,2015-07-13 10:07:21,2015-07-14 10:06:39,2015-07-15 09:54:34,2015-07-16 10:22:47,NaN,2015-07-20 10:25:50,2015-07-21 09:48:05,2015-07-22 09:52:29,2015-07-23 10:04:42,2015-07-24 09:34:15,2015-07-27 09:56:24,2015-07-28 10:19:57,2015-07-29 09:48:10,2015-07-30 09:52:24,2015-07-31 10:11:14,2015-08-03 10:03:33,2015-08-04 09:59:34,2015-08-05 09:50:51,2015-08-06 09:56:52,2015-08-07 09:51:30,2015-08-10 10:12:23,2015-08-11 10:08:29,2015-08-12 09:39:08,2015-08-13 09:47:09,2015-08-14 10:00:21,2015-08-17 09:24:23,2015-08-18 10:25:27,2015-08-19 10:14:41,2015-08-20 09:57:56,2015-08-21 10:07:11,2015-08-24 10:07:49,2015-08-25 09:47:59,2015-08-26 09:53:49,2015-08-27 10:16:21,2015-08-28 09:53:47,2015-08-31 10:08:07,NaN,2015-09-02 10:37:59,2015-09-03 09:41:16,2015-09-04 10:11:00,2015-09-07 10:17:58,2015-09-08 10:31:57,2015-09-09 10:28:33,2015-09-10 09:54:28,2015-09-11 10:02:49,2015-09-14 10:15:40,2015-09-15 10:26:09,2015-09-16 10:11:03,NaN,2015-09-18 10:16:06,2015-09-21 09:48:01,2015-09-22 10:34:52,2015-09-23 10:03:15,2015-09-24 10:00:12,2015-09-25 10:00:00,2015-09-28 09:28:45,2015-09-29 09:51:58,2015-09-30 09:52:41,2015-10-01 10:05:28,NaN,2015-10-05 10:02:00,2015-10-06 09:48:24,2015-10-07 09:32:05,2015-10-08 09:39:01,2015-10-09 09:33:40,2015-10-12 10:14:36,NaN,2015-10-14 10:19:43,2015-10-15 10:19:51,2015-10-16 09:50:41,2015-10-19 09:55:08,2015-10-20 10:00:37,NaN,NaN,2015-10-23 10:03:33,2015-10-26 09:51:07,2015-10-27 09:25:10,2015-10-28 09:50:30,2015-10-29 09:50:22,2015-10-30 09:51:07,2015-11-02 10:01:58,2015-11-03 10:28:53,2015-11-04 09:47:00,2015-11-05 10:24:57,2015-11-06 10:15:27,NaN,NaN,NaN,2015-11-12 10:02:34,2015-11-13 09:29:49,2015-11-16 10:16:02,2015-11-17 09:57:23,2015-11-18 10:13:24,2015-11-19 09:46:48,2015-11-20 10:09:35,2015-11-23 09:54:17,2015-11-24 10:02:07,2015-11-25 10:01:51,2015-11-26 10:18:45,2015-11-27 10:24:49,2015-11-30 10:04:24,2015-12-01 09:31:27,2015-12-02 09:57:52,2015-12-03 10:05:55,2015-12-04 09:55:09,2015-12-07 09:28:15,2015-12-08 09:54:56,2015-12-09 09:51:52,2015-12-10 09:40:25,2015-12-11 09:46:49,2015-12-14 10:03:33,NaN,2015-12-16 10:21:19,NaN,NaN,2015-12-21 09:55:29,2015-12-22 10:04:06,2015-12-23 10:14:27,2015-12-24 10:11:35,NaN,2015-12-28 10:13:41,2015-12-29 10:03:36,2015-12-30 09:54:12,2015-12-31 10:12:44
1,2,NaN,2015-01-02 10:15:44,2015-01-05 10:21:05,NaN,2015-01-07 09:45:17,2015-01-08 10:09:04,2015-01-09 09:43:26,2015-01-12 10:00:07,2015-01-13 10:43:29,NaN,2015-01-15 09:37:57,2015-01-16 09:57:18,2015-01-19 10:23:43,2015-01-20 09:29:03,2015-01-21 09:46:45,2015-01-22 10:03:51,2015-01-23 09:20:06,NaN,2015-01-27 10:07:48,2015-01-28 10:08:25,2015-01-29 09:52:04,2015-01-30 09:49:49,2015-02-02 10:07:26,2015-02-03 09:55:45,2015-02-04 10:25:41,2015-02-05 10:05:11,2015-02-06 09:12:39,NaN,2015-02-10 10:10:13,2015-02-11 09:40:20,2015-02-12 10:10:09,2015-02-13 09:35:25,2015-02-16 10:04:12,2015-02-17 09:45:05,2015-02-18 09:54:42,2015-02-19 10:11:49,2015-02-20 10:06:18,2015-02-23 09:41:58,2015-02-24 09:44:22,2015-02-25 09:58:39,2015-02-26 09:59:07,2015-02-27 10:31:41,2015-03-02 09:55:43,2015-03-03 10:31:20,2015-03-04 09:56:59,NaN,2015-03-06 10:01:10,2015-03-09 10:02:33,2015-03-10 09:32:40,2015-03-11 09:57:02,2015-03-12 09:59:32,2015-03-13 09:59:14,2015-03-16 09:56:19,2015-03-17 09:36:08,2015-03-18 10:00:32,2015-03-19 09:46:51,2015-03-20 10:06:06,2015-03-23 10:02:02,NaN,2015-03-25 10:03:04,2015-03-26 09:52:38,2015-03-27 10:02:55,2015-03-30 10:04:24,2015-03-31 10:30:25,2015-04-01 09:46:24,2015-04-02 09:53:55,2015-04-03 10:30:21,2015-04-06 10:18:14,2015-04-07 10:22:22,2015-04-08 09:46:42,2015-04-09 10:02:22,2015-04-10 09:47:56,2015-04-13 09:33:46,2015-04-14 09:50:19,2015-04-15 10:06:41,2015-04-16 10:07:24,2015-04-17 09:40:35,2015-04-20 10:04:05,2015-04-21 10:21:53,2015-04-22 09:40:33,2015-04-23 10:06:54,2015-04-24 10:10:19,2015-04-27 09:33:44,2015-04-28 09:52:51,NaN,2015-04-30 10:14:03,NaN,2015-05-04 09:53:54,2015-05-05 10:25:20,2015-05-06 09:46:04,2015-05-07 09:49:37,2015-05-08 09:56:40,2015-05-11 09:58:30,2015-05-12 09:44:55,2015-05-13 10:06:35,NaN,2015-05-15 09:43:03,NaN,2015-05-19 09:48:05,2015-05-20 10:18:00,2015-05-21 09:42:47,2015-05-22 10:37:50,2015-05-25 09:46:03,2015-05-26 09:42:16,2015-05-27 09:53:20,2015-05-28 09:54:58,2015-05-29 09:52:45,2015-06-01 09:54:45,2015-06-02 09:57:56,2015-06-03 10:10:48,2015-06-04 09:31:48,2015-06-05 10:06:28,2015-06-08 09:45:19,2015-06-09 09:59:08,2015-06-10 09:39:05,2015-06-11 09:55:03,NaN,2015-06-15 09:45:02,2015-06-16 10:15:23,2015-06-17 09:52:23,2015-06-18 09:55:27,2015-06-19 10:13:33,2015-06-22 09:48:24,2015-06-23 09:59:12,2015-06-24 10:27:17,2015-06-25 10:12:33,2015-06-26 09:55:00,2015-06-29 10:02:27,2015-06-30 10:13:31,2015-07-01 09:45:31,2015-07-02 10:04:21,2015-07-03 10:00:01,2015-07-06 10:10:37,2015-07-07 10:29:29,2015-07-08 09:38:19,2015-07-09 10:21:59,2015-07-10 10:30:44,NaN,2015-07-14 10:35:52,2015-07-15 09:47:06,2015-07-16 09:59:13,NaN,2015-07-20 10:18:08,2015-07-21 10:23:11,2015-07-22 09:32:15,2015-07-23 09:40:12,2015-07-24 10:15:22,NaN,2015-07-28 10:16:14,2015-07-29 09:58:33,2015-07-30 09:57:10,2015-07-31 10:15:38,2015-08-03 09:58:28,2015-08-04 10:17:10,2015-08-05 09:38:46,2015-08-06 10:16:03,2015-08-07 09:52:22,2015-08-10 09:37:38,2015-08-11 09:54:35,2015-08-12 09:27:52,2015-08-13 09:50:57,2015-08-14 09:38:27,2015-08-17 09:52:16,2015-08-18 09:34:06,2015-08-19 09:43:02,2015-08-20 10:16:38,2015-08-21 10:07:18,2015-08-24 09:36:46,2015-08-25 09:42:22,2015-08-26 10:15:22,2015-08-27 10:11:04,2015-08-28 09:50:51,2015-08-31 10:23:10,2015-09-01 10:23:47,2015-09-02 09:57:01,2015-09-03 09:56:07,2015-09-04 10:33:03,2015-09-07 09:58:33,NaN,2015-09-09 10:17:43,2015-09-10 10:28:40,2015-09-11 09:58:20,2015-09-14 09:43:25,2015-09-15 09:25:53,2015-09-16 09:26:29,NaN,2015-09-18 10:27:07,2015-09-21 10:03:31,2015-09-22 09:35:23,2015-09-23 10:12:56,2015-09-24 10:02:52,2015-09-25 09:37:12,2015-09-28 10:11:06,2015-09-29 10:00:31,2015-09-30 10:22:56,2015-10-01 10:08:29,NaN,2015-10-05 10:02:26,2015-10-06 10:08:57,2015-10-07 10:10:19,2015-10-08 10:04:03,2015-10-09 09:40:41,2015-10-12 10:11:30,2015-10-13 10:14:39,2015-10-14 10:10:48,NaN,2015-10-16 10:20:19,2015-10-19 10:04:13,2015-10-20 09:39:10,2015-10-21 09:47:15,2015-10-22 09:56:54,2015-10-23 09:53:38,2015-10-26 09:49:43,2015-10-27 10:29:20,2015-10-28 09:47:39,2015-10-29 09:52:02,2015-10-30 09:47:37,2015-11-02 10:04:45,2015-11-03 09:36:03,2015-11-04 09:58:34,2015-11-05 09:50:08,2015-11-06 10:02:38,NaN,NaN,NaN,2015-11-12 09:54:47,2015-11-13 09:26:10,2015-11-16 10:22:00,2015-11-17 09:26:04,2015-11-18 10:10:39,NaN,2015-11-20 10:01:09,2015-11-23 09:51:11,2015-11-24 09:19:04,2015-11-25 09:43:44,2015-11-26 10:34:30,2015-11-27 10:15:10,2015-11-30 09:46:46,2015-12-01 09:56:22,2015-12-02 09:55:43,2015-12-03 10:05:37,2015-12-04 10:02:05,2015-12-07 09:36:05,2015-12-08 10:01:21,2015-12-09 09:49:23,2015-12-10 10:06:05,2015-12-11 10:15:18,2015-12-14 10:00:01,2015-12-15 10:30:18,2015-12-16 10:01:18,2015-12-17 09:15:08,2015-12-18 10:37:17,2015-12-21 09:49:02,2015-12-22 10:33:51,2015-12-23 10:12:10,NaN,NaN,2015-12-28 09:31:45,2015-12-29 09:55:49,2015-12-30 10:32:25,2015-12-31 09:27:20
2,3,NaN,2015-01-02 10:17:41,2015-01-05 09:50:50,2015-01-06 10:14:13,2015-01-07 09:47:27,2015-01-08 10:03:40,2015-01-09 10:05:49,2015-01-12 10:03:47,2015-01-13 10:21:26,NaN,2015-01-15 09:55:11,2015-01-16 10:05:36,2015-01-19 09:47:53,2015-01-20 09:57:09,2015-01-21 10:29:40,2015-01-22 09:59:11,2015-01-23 10:16:34,NaN,2015-01-27 10:07:30,2015-01-28 10:05:43,2015-01-29 10:06:48,2015-01-30 10:14:36,2015-02-02 09:54:45,2015-02-03 09:27:11,2015-02-04 10:04:03,2015-02-05 10:08:11,2015-02-06 10:23:51,2015-02-09 10:08:43,2015-02-10 10:26:18,2015-02-11 10:02:13,2015-02-12 09:55:10,2015-02-13 10:32:34,2015-02-16 10:18:43,2015-02-17 10:04:54,2015-02-18 10:16:19,2015-02-19 09:47:19,2015-02-20 10:20:51,2015-02-23 10:14:02,2015-02-24 10:23:28,2015-02-25 09:59:06,2015-02-26 10:01:22,2015-02-27 09:57:26,2015-03-02 10:02:38,2015-03-03 10:07:45,2015-03-04 10:15:26,NaN,2015-03-06 09:48:49,2015-03-09 10:17:45,2015-03-10 09:46:10,2015-03-11 10:26:39,2015-03-12 09:56:28,2015-03-13 09:36:23,2015-03-16 10:07:30,2015-03-17 10:00:43,2015-03-18 10:20:10,2015-03-19 09:54:40,NaN,2015-03-23 10:04:28,2015-03-24 10:18:38,2015-03-25 09:43:22,2015-03-26 09:37:02,NaN,2015-03-30 09:54:55,2015-03-31 10:00:57,2015-04-01 09:52:42,2015-04-02 10:24:02,2015-04-03 10:01:42,2015-04-06 09:33:15,2015-04-07 10:13:13,2015-04-08 10:38:41,2015-04-09 10:17:34,2015-04-10 10:28:08,2015-04-13 10:14:55,2015-04-14 09:29:50,2015-04-15 10:06:52,2015-04-16 09:46:13,2015-04-17 10:16:08,2015-04-20 09:36:16,2015-04-21 10:07:10,2015-04-22 09:56:42,NaN,2015-04-24 10:10:15,2015-04-27 09:29:29,2015-04-28 10:01:45,2015-04-29 09:54:28,2015-04-30 09:40:30,NaN,2015-05-04 09:55:15,2015-05-05 09:53:50,2015-05-06 10:20:45,2015-05-07 09:49:38,2015-05-08 10:21:01,2015-05-11 09:47:03,2015-05-12 09:39:48,2015-05-13 09:50:23,2015-05-14 09:45:22,2015-05-15 09:48:59,2015-05-18 10:03:24,2015-05-19 09:40:26,2015-05-20 09:40:20,2015-05-21 09:37:39,2015-05-22 10:04:08,2015-05-25 10:06:54,2015-05-26 10:28:05,2015-05-27 10:14:07,2015-05-28 10:13:25,2015-05-29 10:08:23,2015-06-01 09:57:32,2015-06-02 09:58:49,2015-06-03 10:03:00,2015-06-04 09:32:13,2015-06-05 09:43:51,2015-06-08 09:31:20,2015-06-09 09:49:58,2015-06-10 10:14:49,2015-06-11 10:07:21,2015-06-12 10:10:53,2015-06-15 09:52:17,2015-06-16 09:33:01,2015-06-17 09:50:53,2015-06-18 10:01:04,2015-06-19 09:47:22,2015-06-22 09:52:10,2015-06-23 09:44:50,NaN,2015-06-25 10:10:41,2015-06-26 10:02:07,2015-06-29 09:33:13,2015-06-30 10:13:47,2015-07-01 10:07:56,2015-07-02 10:26:28,2015-07-03 09:40:28,2015-07-06 10:02:42,2015-07-07 10:50:49,2015-07-08 09:56:24,2015-07-09 10:08:14,2015-07-10 09:58:44,2015-07-13 09:59:18,2015-07-14 09:54:55,2015-07-15 09:42:13,2015-07-16 10:00:16,NaN,2015-07-20 10:12:37,2015-07-21 09:39:36,2015-07-22 09:50:19,2015-07-23 10:27:02,2015-07-24 09:58:29,2015-07-27 10:11:51,2015-07-28 09:44:58,2015-07-29 10:29:58,2015-07-30 10:27:08,2015-07-31 09:32:14,2015-08-03 09:49:21,2015-08-04 09:37:19,NaN,2015-08-06 10:00:11,2015-08-07 09:36:58,2015-08-10 09:51:11,2015-08-11 09:49:26,2015-08-12 10:26:18,2015-08-13 10:12:57,2015-08-14 09:51:22,2015-08-17 09:59:35,2015-08-18 09:57:40,2015-08-19 10:06:09,2015-08-20 10:09:06,2015-08-21 10:28:51,2015-08-24 10:04:52,2015-08-25 10:09:53,2015-08-26 10:26:55,2015-08-27 09:08:23,2015-08-28 10:07:20,2015-08-31 09:44:35,2015-09-01 09:51:52,2015-09-02 09:52:28,2015-09-03 10:05:51,2015-09-04 10:11:53,2015-09-07 09:28:00,2015-09-08 09:38:21,2015-09-09 09:45:09,2015-09-10 09:49:52,2015-09-11 09:57:16,2015-09-14 10:27:59,2015-09-15 10:11:20,2015-09-16 09:55:26,NaN,2015-09-18 09:54:29,2015-09-21 09:29:30,2015-09-22 09:35:39,2015-09-23 09:56:54,2015-09-24 10:31:35,2015-09-25 09:40:55,2015-09-28 09:55:28,2015-09-29 10:25:49,2015-09-30 10:11:02,2015-10-01 09:58:27,NaN,2015-10-05 10:10:21,2015-10-06 09:56:07,2015-10-07 10:09:43,2015-10-08 09:46:36,2015-10-09 10:00:44,2015-10-12 10:14:10,2015-10-13 10:22:14,2015-10-14 10:20:42,2015-10-15 10:12:05,2015-10-16 09:41:55,2015-10-19 10:03:40,2015-10-20 10:02:12,2015-10-21 10:52:27,2015-10-22 10:10:44,2015-10-23 10:08:37,2015-10-26 10:29:26,2015-10-27 09:48:57,2015-10-28 09:54:52,2015-10-29 09:47:27,2015-10-30 09:51:47,2015-11-02 09:54:18,2015-11-03 09:52:40,2015-11-04 10:19:14,2015-11-05 10:23:27,2015-11-06 10:06:29,NaN,NaN,NaN,2015-11-12 10:14:47,2015-11-13 09:43:37,2015-11-16 10:02:56,2015-11-17 09:51:38,2015-11-18 10:12:13,2015-11-19 10:08:46,2015-11-20 10:06:39,2015-11-23 10:02:01,2015-11-24 09:53:52,2015-11-25 10:16:19,2015-11-26 10:07:02,NaN,2015-11-30 10:01:33,2015-12-01 10:02:52,2015-12-02 10:10:34,2015-12-03 10:18:25,2015-12-04 10:06:40,2015-12-07 10:21:09,2015-12-08 09:59:19,2015-12-09 10:17:28,NaN,2015-12-11 09:49:55,2015-12-14 09:42:31,2015-12-15 09:54:48,2015-12-16 09:48:34,2015-12-17 09:53:17,2015-12-18 10:15:14,2015-12-21 10:10:28,2015-12-22 09:44:44,2015-12-23 10:15:54,2015-12-24 10:07:26,NaN,2015-12-28 09:42:05,2015-12-29 09:43:36,2015-12-30 09:34:05,2015-12-31 10:28:39

In [44]:
out_time = pd.read_csv('Data/out_time.csv')
out_time.head()

,Unnamed: 0,2015-01-01,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,2015-01-15,2015-01-16,2015-01-19,2015-01-20,2015-01-21,2015-01-22,2015-01-23,2015-01-26,2015-01-27,2015-01-28,2015-01-29,2015-01-30,2015-02-02,2015-02-03,2015-02-04,2015-02-05,2015-02-06,2015-02-09,2015-02-10,2015-02-11,2015-02-12,2015-02-13,2015-02-16,2015-02-17,2015-02-18,2015-02-19,2015-02-20,2015-02-23,2015-02-24,2015-02-25,2015-02-26,2015-02-27,2015-03-02,2015-03-03,2015-03-04,2015-03-05,2015-03-06,2015-03-09,2015-03-10,2015-03-11,2015-03-12,2015-03-13,2015-03-16,2015-03-17,2015-03-18,2015-03-19,2015-03-20,2015-03-23,2015-03-24,2015-03-25,2015-03-26,2015-03-27,2015-03-30,2015-03-31,2015-04-01,2015-04-02,2015-04-03,2015-04-06,2015-04-07,2015-04-08,2015-04-09,2015-04-10,2015-04-13,2015-04-14,2015-04-15,2015-04-16,2015-04-17,2015-04-20,2015-04-21,2015-04-22,2015-04-23,2015-04-24,2015-04-27,2015-04-28,2015-04-29,2015-04-30,2015-05-01,2015-05-04,2015-05-05,2015-05-06,2015-05-07,2015-05-08,2015-05-11,2015-05-12,2015-05-13,2015-05-14,2015-05-15,2015-05-18,2015-05-19,2015-05-20,2015-05-21,2015-05-22,2015-05-25,2015-05-26,2015-05-27,2015-05-28,2015-05-29,2015-06-01,2015-06-02,2015-06-03,2015-06-04,2015-06-05,2015-06-08,2015-06-09,2015-06-10,2015-06-11,2015-06-12,2015-06-15,2015-06-16,2015-06-17,2015-06-18,2015-06-19,2015-06-22,2015-06-23,2015-06-24,2015-06-25,2015-06-26,2015-06-29,2015-06-30,2015-07-01,2015-07-02,2015-07-03,2015-07-06,2015-07-07,2015-07-08,2015-07-09,2015-07-10,2015-07-13,2015-07-14,2015-07-15,2015-07-16,2015-07-17,2015-07-20,2015-07-21,2015-07-22,2015-07-23,2015-07-24,2015-07-27,2015-07-28,2015-07-29,2015-07-30,2015-07-31,2015-08-03,2015-08-04,2015-08-05,2015-08-06,2015-08-07,2015-08-10,2015-08-11,2015-08-12,2015-08-13,2015-08-14,2015-08-17,2015-08-18,2015-08-19,2015-08-20,2015-08-21,2015-08-24,2015-08-25,2015-08-26,2015-08-27,2015-08-28,2015-08-31,2015-09-01,2015-09-02,2015-09-03,2015-09-04,2015-09-07,2015-09-08,2015-09-09,2015-09-10,2015-09-11,2015-09-14,2015-09-15,2015-09-16,2015-09-17,2015-09-18,2015-09-21,2015-09-22,2015-09-23,2015-09-24,2015-09-25,2015-09-28,2015-09-29,2015-09-30,2015-10-01,2015-10-02,2015-10-05,2015-10-06,2015-10-07,2015-10-08,2015-10-09,2015-10-12,2015-10-13,2015-10-14,2015-10-15,2015-10-16,2015-10-19,2015-10-20,2015-10-21,2015-10-22,2015-10-23,2015-10-26,2015-10-27,2015-10-28,2015-10-29,2015-10-30,2015-11-02,2015-11-03,2015-11-04,2015-11-05,2015-11-06,2015-11-09,2015-11-10,2015-11-11,2015-11-12,2015-11-13,2015-11-16,2015-11-17,2015-11-18,2015-11-19,2015-11-20,2015-11-23,2015-11-24,2015-11-25,2015-11-26,2015-11-27,2015-11-30,2015-12-01,2015-12-02,2015-12-03,2015-12-04,2015-12-07,2015-12-08,2015-12-09,2015-12-10,2015-12-11,2015-12-14,2015-12-15,2015-12-16,2015-12-17,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-25,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,NaN,2015-01-02 16:56:15,2015-01-05 17:20:11,2015-01-06 17:19:05,2015-01-07 16:34:55,2015-01-08 17:08:32,2015-01-09 17:38:29,2015-01-12 16:58:39,2015-01-13 18:02:58,NaN,2015-01-15 17:22:13,2015-01-16 17:35:11,NaN,2015-01-20 16:37:07,2015-01-21 16:55:24,2015-01-22 16:50:47,2015-01-23 17:00:01,NaN,2015-01-27 17:28:22,2015-01-28 17:03:21,2015-01-29 17:18:36,2015-01-30 17:00:25,2015-02-02 16:32:49,2015-02-03 17:35:49,2015-02-04 17:24:56,2015-02-05 17:26:31,2015-02-06 17:21:35,2015-02-09 17:37:50,2015-02-10 17:30:20,2015-02-11 17:30:19,2015-02-12 17:36:42,2015-02-13 16:25:26,2015-02-16 17:50:23,2015-02-17 17:28:06,2015-02-18 18:13:29,NaN,2015-02-20 17:44:52,2015-02-23 17:13:27,2015-02-24 17:24:48,2015-02-25 17:27:37,2015-02-26 17:08:36,2015-02-27 17:21:55,2015-03-02 17:29:08,2015-03-03 16:54:12,2015-03-04 17:50:18,NaN,2015-03-06 17:44:47,2015-03-09 17:53:05,2015-03-10 16:42:53,2015-03-11 16:58:39,2015-03-12 17:15:39,2015-03-13 17:25:55,NaN,2015-03-17 17:00:16,2015-03-18 17:40:13,2015-03-19 17:52:44,2015-03-20 17:47:34,2015-03-23 17:48:18,2015-03-24 17:48:26,2015-03-25 17:08:19,NaN,2015-03-27 17:20:51,2015-03-30 17:33:09,2015-03-31 18:00:07,2015-04-01 17:32:50,2015-04-02 17:24:58,2015-04-03 17:11:46,2015-04-06 16:42:46,2015-04-07 17:55:07,2015-04-08 17:30:12,2015-04-09 17:09:38,2015-04-10 16:53:22,2015-04-13 17:00:23,2015-04-14 17:07:36,2015-04-15 17:23:31,2015-04-16 17:31:32,2015-04-17 17:11:18,2015-04-20 17:45:08,2015-04-21 16:49:13,2015-04-22 17:27:46,2015-04-23 17:32:53,2015-04-24 17:39:25,2015-04-27 17:26:32,2015-04-28 17:50:45,2015-04-29 17:27:45,2015-04-30 17:18:59,NaN,2015-05-04 17:05:30,2015-05-05 17:13:30,2015-05-06 17:16:30,2015-05-07 17:10:33,2015-05-08 17:31:56,NaN,2015-05-12 17:16:58,2015-05-13 17:54:12,2015-05-14 17:44:49,2015-05-15 16:44:33,NaN,2015-05-19 17:09:05,2015-05-20 17:19:49,2015-05-21 17:21:10,2015-05-22 17:27:28,2015-05-25 17:49:48,2015-05-26 17:29:00,2015-05-27 17:34:05,2015-05-28 17:23:52,NaN,NaN,2015-06-02 18:03:51,2015-06-03 17:18:10,2015-06-04 17:26:11,NaN,2015-06-08 17:22:18,NaN,2015-06-10 16:59:04,2015-06-11 17:21:39,2015-06-12 17:39:12,2015-06-15 17:26:02,2015-06-16 17:31:36,2015-06-17 17:17:49,2015-06-18 17:34:32,2015-06-19 17:21:17,2015-06-22 16:59:22,2015-06-23 16:51:41,2015-06-24 17:06:26,2015-06-25 17:37:14,2015-06-26 17:11:06,2015-06-29 17:41:01,2015-06-30 17:45:51,2015-07-01 17:22:27,2015-07-02 17:44:39,2015-07-03 17:09:29,2015-07-06 17:33:57,2015-07-07 17:47:22,2015-07-08 17:26:03,2015-07-09 16:18:10,2015-07-10 17:05:38,2015-07-13 17:23:56,2015-07-14 17:14:19,2015-07-15 17:32:02,2015-07-16 17:39:13,NaN,2015-07-20 17:31:04,2015-07-21 17:03:19,2015-07-22 17:45:13,2015-07-23 16:45:36,2015-07-24 17:03:05,2015-07-27 17:24:48,2015-07-28 17:02:15,2015-07-29 16:57:05,2015-07-30 17:06:20,2015-07-31 17:34:04,2015-08-03 17:00:31,2015-08-04 17:10:18,2015-08-05 17:31:20,2015-08-06 17:27:12,2015-08-07 17:16:59,2015-08-10 17:48:37,2015-08-11 17:40:01,2015-08-12 17:15:47,2015-08-13 17:09:17,2015-08-14 17:08:51,2015-08-17 16:27:43,2015-08-18 18:03:09,2015-08-19 17:09:56,2015-08-20 17:11:05,2015-08-21 17:51:02,2015-08-24 17:37:08,2015-08-25 17:12:59,2015-08-26 17:36:02,2015-08-27 17:57:41,2015-08-28 17:27:04,2015-08-31 17:08:19,NaN,2015-09-02 17:49:13,2015-09-03 17:07:17,2015-09-04 17:42:46,2015-09-07 17:40:58,2015-09-08 17:52:36,2015-09-09 18:00:21,2015-09-10 17:17:02,2015-09-11 17:22:52,2015-09-14 17:07:46,2015-09-15 17:34:11,2015-09-16 17:31:03,NaN,2015-09-18 17:43:14,2015-09-21 17:13:51,2015-09-22 18:14:06,2015-09-23 17:05:53,2015-09-24 17:19:26,2015-09-25 17:43:56,2015-09-28 17:07:25,2015-09-29 17:27:30,2015-09-30 17:14:43,2015-10-01 17:52:44,NaN,2015-10-05 17:03:41,2015-10-06 17:29:15,2015-10-07 16:56:00,2015-10-08 17:08:18,2015-10-09 17:10:00,2015-10-12 17:24:14,NaN,2015-10-14 17:49:02,2015-10-15 17:54:13,2015-10-16 16:40:00,2015-10-19 17:27:58,2015-10-20 17:02:55,NaN,NaN,2015-10-23 17:13:46,2015-10-26 17:35:53,2015-10-27 16:28:13,2015-10-28 17:32:42,2015-10-29 16:57:29,2015-10-30 17:09:54,2015-11-02 16:53:43,2015-11-03 18:04:34,2015-11-04 16:43:40,2015-11-05 18:03:15,2015-11-06 17:15:12,NaN,NaN,NaN,2015-11-12 17:13:17,2015-11-13 16:49:27,2015-11-16 18:03:08,2015-11-17 17:03:06,2015-11-18 17:38:02,2015-11-19 16:46:27,2015-11-20 17:58:40,2015-11-23 17:13:22,2015-11-24 17:37:21,2015-11-25 17:26:51,2015-11-26 17:44:49,2015-11-27 17:30:02,2015-11-30 17:05:11,2015-12-01 16:53:21,2015-12-02 17:32:24,2015-12-03 17:40:59,2015-12-04 17:02:22,2015-12-07 16:21:37,2015-12-08 17:51:23,2015-12-09 17:48:46,2015-12-10 16:52:14,2015-12-11 17:25:56,2015-12-14 17:35:53,NaN,2015-12-16 17:54:26,NaN,NaN,2015-12-21 17:15:50,2015-12-22 17:27:51,2015-12-23 16:44:44,2015-12-24 17:47:22,NaN,2015-12-28 18:00:07,2015-12-29 17:22:30,2015-12-30 17:40:56,2015-12-31 17:17:33
1,2,NaN,2015-01-02 18:22:17,2015-01-05 17:48:22,NaN,2015-01-07 17:09:06,2015-01-08 17:34:04,2015-01-09 16:52:29,2015-01-12 17:36:48,2015-01-13 18:00:13,NaN,2015-01-15 17:14:44,2015-01-16 17:40:57,2015-01-19 17:58:22,2015-01-20 17:05:13,2015-01-21 17:41:05,2015-01-22 17:26:26,2015-01-23 17:06:50,NaN,2015-01-27 17:35:50,2015-01-28 17:19:48,2015-01-29 17:07:38,2015-01-30 16:53:22,2015-02-02 17:45:18,2015-02-03 17:33:42,2015-02-04 18:04:20,2015-02-05 17:43:25,2015-02-06 17:06:42,NaN,2015-02-10 18:12:17,2015-02-11 17:18:36,2015-02-12 18:08:01,2015-02-13 17:19:25,2015-02-16 17:46:09,2015-02-17 17:09:30,2015-02-18 17:48:56,2015-02-19 18:06:35,2015-02-20 17:31:45,2015-02-23 17:57:18,2015-02-24 17:32:22,2015-02-25 17:43:47,2015-02-26 17:49:55,2015-02-27 18:38:54,2015-03-02 17:36:37,2015-03-03 18:12:57,2015-03-04 17:52:38,NaN,2015-03-06 17:21:33,2015-03-09 18:10:21,2015-03-10 17:14:06,2015-03-11 17:56:14,2015-03-12 17:30:53,2015-03-13 17:48:25,2015-03-16 17:08:38,2015-03-17 16:58:02,2015-03-18 17:16:35,2015-03-19 17:28:42,2015-03-20 17:31:55,2015-03-23 17:58:55,NaN,2015-03-25 17:22:19,2015-03-26 17:48:10,2015-03-27 17:49:22,2015-03-30 17:28:31,2015-03-31 18:28:47,2015-04-01 17:30:06,2015-04-02 17:39:09,2015-04-03 18:07:24,2015-04-06 17:40:31,2015-04-07 17:50:46,2015-04-08 17:09:41,2015-04-09 17:07:38,2015-04-10 17:43:12,2015-04-13 17:45:20,2015-04-14 18:00:46,2015-04-15 17:35:11,2015-04-16 17:21:42,2015-04-17 17:24:55,2015-04-20 17:51:08,2015-04-21 18:49:53,2015-04-22 17:40:46,2015-04-23 18:04:23,2015-04-24 17:42:16,2015-04-27 17:12:05,2015-04-28 17:29:15,NaN,2015-04-30 18:18:58,NaN,2015-05-04 17:41:29,2015-05-05 18:08:25,2015-05-06 17:37:33,2015-05-07 17:26:07,2015-05-08 17:07:25,2015-05-11 17:30:04,2015-05-12 17:39:57,2015-05-13 17:35:24,NaN,2015-05-15 17:06:54,NaN,2015-05-19 17:53:01,2015-05-20 17:30:15,2015-05-21 17:25:40,2015-05-22 18:39:12,2015-05-25 17:50:50,2015-05-26 17:49:25,2015-05-27 17:51:25,2015-05-28 17:11:38,2015-05-29 17:55:55,2015-06-01 18:01:11,2015-06-02 17:34:55,2015-06-03 17:58:25,2015-06-04 16:27:03,2015-06-05 17:46:19,2015-06-08 17:20:20,2015-06-09 17:24:55,2015-06-10 17:44:36,2015-06-11 17:53:52,NaN,2015-06-15 17:48:03,2015-06-16 18:01:24,2015-06-17 18:05:55,2015-06-18 17:48:28,2015-06-19 17:55:56,2015-06-22 17:48:27,2015-06-23 17:46:50,2015-06-24 17:59:00,2015-06-25 18:09:18,2015-06-26 17:35:47,2015-06-29 18:00:33,2015-06-30 17:20:12,2015-07-01 17:27:32,2015-07-02 17:52:49,2015-07-03 18:08:39,2015-07-06 17:53:47,2015-07-07 18:20:24,2015-07-08 17:39:41,2015-07-09 17:28:26,2015-07-10 18:12:57,NaN,2015-07-14 18:06:32,2015-07-15 17:25:39,2015-07-16 18:13:48,NaN,2015-07-20 17:47:07,2015-07-21 18:01:49,2015-07-22 17:20:40,2015-07-23 17:36:14,2015-07-24 18:07:05,NaN,2015-07-28 18:08:31,2015-07-29 17:54:49,2015-07-30 17:19:50,2015-07-31 17:30:49,2015-08-03 17:44:58,2015-08-04 18:08:25,2015-08-05 17:27:32,2015-08-06 18:48:44,2015-08-07 17:47:53,2015-08-10 17:24:08,2015-08-11 17:09:55,2015-08-12 17:13:38,2015-08-13 17:54:56,2015-08-14 17:29:11,2015-08-17 18:04:06,2015-08-18 17:03:21,2015-08-19 17:36:39,2015-08-20 17:56:23,2015-08-21 17:38:55,2015-08-24 17:05:20,2015-08-25 17:11:02,2015-08-26 17:44:47,2015-08-27 18:04:39,2015-08-28 17:24:55,2015-08-31 18:13:22,2015-09-01 17:18:16,2015-09-02 17:26:57,2015-09-03 17:50:40,2015-09-04 18:21:48,2015-09-07 18:10:09,NaN,2015-09-09 17:52:26,2015-09-10 18:22:09,2015-09-11 17:27:25,2015-09-14 17:10:53,2015-09-15 16:50:45,2015-09-16 17:16:37,NaN,2015-09-18 17:51:23,2015-09-21 17:45:44,2015-09-22 16:51:17,2015-09-23 17:55:03,2015-09-24 18:07:54,2015-09-25 17:45:34,2015-09-28 17:52:52,2015-09-29 18:02:18,2015-09-30 18:15:14,2015-10-01 17:33:53,NaN,2015-10-05 18:08:24,2015-10-06 17:12:33,2015-10-07 18:07:16,2015-10-08 18:19:06,2015-10-09 17:18:33,2015-10-12 17:16:51,2015-10-13 18:32:48,2015-10-14 17:45:04,NaN,2015-10-16 17:58:11,2015-10-19 18:00:41,2015-10-20 17:13:28,2015-10-21 16:51:56,2015-10-22 18:30:26,2015-10-23 16:37:09,2015-10-26 17:58:41,2015-10-27 18:23:56,2015-10-28 17:20:29,2015-10-29 17:44:08,2015-10-30 17:32:48,2015-11-02 17:29:17,2015-11-03 17:18:27,2015-11-04 17:54:32,2015-11-05 17:11:57,2015-11-06 17:28:38,NaN,NaN,NaN,2015-11-12 17:34:03,2015-11-13 17:38:25,2015-11-16 18:37:03,2015-11-17 17:26:09,2015-11-18 18:06:23,NaN,2015-11-20 17:52:48,2015-11-23 17:32:43,2015-11-24 17:01:00,2015-11-25 17:14:56,2015-11-26 18:28:44,2015-11-27 18:12:27,2015-11-30 17:18:40,2015-12-01 17:21:07,2015-12-02 18:02:46,2015-12-03 18:08:00,2015-12-04 18:01:03,2015-12-07 17:06:37,2015-12-08 17:44:18,2015-12-09 17:47:47,2015-12-10 17:55:23,2015-12-11 17:42:47,2015-12-14 17:32:11,2015-12-15 17:56:25,2015-12-16 18:16:37,2015-12-17 17:10:50,2015-12-18 18:31:28,2015-12-21 17:34:16,2015-12-22 18:16:35,2015-12-23 17:38:18,NaN,NaN,2015-12-28 17:08:38,2015-12-29 17:54:46,2015-12-30 18:31:35,2015-12-31 17:40:58
2,3,NaN,2015-01-02 16:59:14,2015-01-05 17:06:46,2015-01-06 16:38:32,2015-01-07 16:33:21,2015-01-08 17:24:22,2015-01-09 16:57:30,2015-01-12 17:28:54,2015-01-13 17:21:25,NaN,2015-01-15 17:21:29,2015-01-16 17:18:13,2015-01-19 16:52:13,2015-01-20 16:52:23,2015-01-21 17:17:50,2015-01-22 17:27:54,2015-01-23 17:11:52,NaN,2015-01-27 17:22:27,2015-01-28 16:24:04,2015-01-29 17:20:07,2015-01-30 17:16:03,2015-02-02 16:59:01,2015-02-03 15:58:24,2015-02-04 17:25:54,2015-02-05 16:29:41,2015-02-06 17:18:15,2015-02-09 16:48:18,2015-02-10 17:15:49,2015-02-11 16:49:22,2015-02-12 16:22:31,2015-02-13 17:41:15,2015-02-16 17:20:05,2015-02-17 16:46:01,2015-02-18 17:19:08,2015-02-19 16:44:56,2015-02-20 17:14:02,2015-02-23 17:59:19,2015-02-24 17:08:34,2015-02-25 16:55:31,2015-02-26 17:34:33,2015-02-27 16:48:44,2015-03-02 17:32:13,2015-03-03 17:11:01,2015-03-04 17:26:45,NaN,2015-03-06 16:35:05,2015-03-09 17:08:34,2015-03-10 16:38:33,2015-03-11 17:31:26,2015-03-12 17:13:00,2015-03-13 16:25:40,2015-03-16 16:53:08,2015-03-17 17:07:58,2015-03-18 17:39:10,2015-03-19 16:27:24,NaN,2015-03-23 16:50:31,2015-03-24 17:12:39,2015-03-25 16:42:17,2015-03-26 17:02:08,NaN,2015-03-30 16:37:47,2015-03-31 17:29:39,2015-04-01 16:47:25,2015-04-02 17:14:02,2015-04-03 16:46:36,2015-04-06 16:27:34,2015-04-07 17:27:19,2015-04-08 17:36:18,2015-04-09 17:45:16,2015-04-10 17:13:27,2015-04-13 17:30:51,2015-04-14 16:43:49,2015-04-15 17:23:07,2015-04-16 16:49:51,2015-04-17 17:52:50,2015-04-20 17:03:14,2015-04-21 17:15:37,2015-04-22 17:23:28,NaN,2015-04-24 17:05:07,2015-04-27 16:29:39,2015-04-28 17:22:20,2015-04-29 16:52:17,2015-04-30 16:43:32,NaN,2015-05-04 16:42:30,2015-05-05 16:13:39,2015-05-06 17:27:27,2015-05-07 16:41:59,2015-05-08 17:13:18,2015-05-11 16:49:00,2015-05-12 16:45:55,2015-05-13 16:40:15,2015-05-14 17:01:56,2015-05-15 16:25:36,2015-05-18 17:17:40,2015-05-19 17:05:17,2015-05-20 17:06:32,2015-05-21 16:44:37,2015-05-22 16:54:06,2015-05-25 17:23:42,2015-05-26 16:44:02,2015-05-27 17:23:12,2015-05-28 16:31:51,2015-05-29 16:53:00,2015-06-01 16:44:52,2015-06-02 17:09:28,2015-06-03 17:21:49,2015-06-04 16:21:03,2015-06-05 16:24:55,2015-06-08 17:09:46,2015-06-09 16:46:00,2015-06-10 17:35:00,2015-06-11 17:20:01,2015-06-12 17:18:04,2015-06-15 16:58:07,2015-06-16 16:27:56,2015-06-17 16:50:32,2015-06-18 17:16:36,2015-06-19 16:43:47,2015-06-22 16:29:10,2015-06-23 16:53:24,NaN,2015-06-25 16:44:56,2015-06-26 17:05:33,2015-06-29 16:19:27,2015-06-30 16:49:09,2015-07-01 16:50:55,2015-07-02 17:17:35,2015-07-03 16:36:11,2015-07-06 18:00:41,2015-07-07 17:36:36,2015-07-08 16:47:57,2015-07-09 18:07:51,2015-07-10 17:01:41,2015-07-13 16:20:14,2015-07-14 17:18:35,2015-07-15 16:54:35,2015-07-16 16:56:24,NaN,2015-07-20 17:07:52,2015-07-21 16:51:57,2015-07-22 16:28:59,2015-07-23 17:23:36,2015-07-24 16:49:58,2015-07-27 17:18:46,2015-07-28 17:28:39,2015-07-29 17:53:35,2015-07-30 17:25:52,2015-07-31 16:44:55,2015-08-03 16:52:05,2015-08-04 16:25:27,NaN,2015-08-06 16:53:15,2015-08-07 16:31:42,2015-08-10 17:06:02,2015-08-11 16:36:01,2015-08-12 17:28:54,2015-08-13 16:57:54,2015-08-14 16:54:16,2015-08-17 16:53:27,2015-08-18 17:15:15,2015-08-19 17:08:09,2015-08-20 16:53:58,2015-08-21 17:29:32,2015-08-24 17:01:36,2015-08-25 16:52:06,2015-08-26 17:06:17,2015-08-27 16:05:12,2015-08-28 16:46:21,2015-08-31 16:29:00,2015-09-01 17:12:34,2015-09-02 17:06:39,2015-09-03 17:14:37,2015-09-04 17:16:44,2015-09-07 16:17:32,2015-09-08 16:46:52,2015-09-09 16:33:08,2015-09-10 17:22:21,2015-09-11 16:32:47,2015-09-14 17:49:44,2015-09-15 16:58:26,2015-09-16 16:51:35,NaN,2015-09-18 16:53:29,2015-09-21 16:42:32,2015-09-22 16:28:40,2015-09-23 17:06:45,2015-09-24 17:33:41,2015-09-25 16:39:34,2015-09-28 17:44:11,2015-09-29 17:52:11,2015-09-30 16:56:37,2015-10-01 17:16:00,NaN,2015-10-05 17:11:32,2015-10-06 17:27:11,2015-10-07 17:19:27,2015-10-08 16:42:29,2015-10-09 16:55:42,2015-10-12 17:19:20,2015-10-13 17:03:46,2015-10-14 17:25:43,2015-10-15 16:59:34,2015-10-16 16:42:49,2015-10-19 16:36:56,2015-10-20 17:00:27,2015-10-21 17:52:36,2015-10-22 17:12:08,2015-10-23 17:00:44,2015-10-26 17:44:21,2015-10-27 17:20:34,2015-10-28 16:22:30,2015-10-29 16:35:41,2015-10-30 16:29:34,2015-11-02 17:35:43,2015-11-03 16:55:12,2015-11-04 17:01:26,2015-11-05 17:04:42,2015-11-06 16:39:49,NaN,NaN,NaN,2015-11-12 17:36:44,2015-11-13 16:43:22,2015-11-16 16:51:03,2015-11-17 17:09:13,2015-11-18 17:28:22,2015-11-19 16:20:40,2015-11-20 17:40:18,2015-11-23 16:58:39,2015-11-24 16:33:43,2015-11-25 17:20:08,2015-11-26 17:34:28,NaN,2015-11-30 17:00:13,2015-12-01 16:59:05,2015-12-02 16:54:49,2015-12-03 17:04:26,2015-12-04 17:10:47,2015-12-07 17:09:04,2015-12-08 17:28:44,2015-12-09 17:49:34,NaN,2015-12-11 17:01:53,2015-12-14 16:48:18,2015-12-15 16:39:52,2015-12-16 16:42:44,2015-12-17 17:06:23,2015-12-18 17:02:23,2015-12-21 17:20:17,2015-12-22 16:32:50,2015-12-23 16:59:43,2015-12-24 16:58:25,NaN,2015-12-28 16:43:31,2015-12-29 17:09:56,2015-12-30 17:06:25,2015-12-31 17:15:50

In [45]:
## Concat time data sets

In [46]:
total_time= in_time.append(out_time)
total_time

,Unnamed: 0,2015-01-01,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,2015-01-15,2015-01-16,2015-01-19,2015-01-20,2015-01-21,2015-01-22,2015-01-23,2015-01-26,2015-01-27,2015-01-28,2015-01-29,2015-01-30,2015-02-02,2015-02-03,2015-02-04,2015-02-05,2015-02-06,2015-02-09,2015-02-10,2015-02-11,2015-02-12,2015-02-13,2015-02-16,2015-02-17,2015-02-18,2015-02-19,2015-02-20,2015-02-23,2015-02-24,2015-02-25,2015-02-26,2015-02-27,2015-03-02,2015-03-03,2015-03-04,2015-03-05,2015-03-06,2015-03-09,2015-03-10,2015-03-11,2015-03-12,2015-03-13,2015-03-16,2015-03-17,2015-03-18,2015-03-19,2015-03-20,2015-03-23,2015-03-24,2015-03-25,2015-03-26,2015-03-27,2015-03-30,2015-03-31,2015-04-01,2015-04-02,2015-04-03,2015-04-06,2015-04-07,2015-04-08,2015-04-09,2015-04-10,2015-04-13,2015-04-14,2015-04-15,2015-04-16,2015-04-17,2015-04-20,2015-04-21,2015-04-22,2015-04-23,2015-04-24,2015-04-27,2015-04-28,2015-04-29,2015-04-30,2015-05-01,2015-05-04,2015-05-05,2015-05-06,2015-05-07,2015-05-08,2015-05-11,2015-05-12,2015-05-13,2015-05-14,2015-05-15,2015-05-18,2015-05-19,2015-05-20,2015-05-21,2015-05-22,2015-05-25,2015-05-26,2015-05-27,2015-05-28,2015-05-29,2015-06-01,2015-06-02,2015-06-03,2015-06-04,2015-06-05,2015-06-08,2015-06-09,2015-06-10,2015-06-11,2015-06-12,2015-06-15,2015-06-16,2015-06-17,2015-06-18,2015-06-19,2015-06-22,2015-06-23,2015-06-24,2015-06-25,2015-06-26,2015-06-29,2015-06-30,2015-07-01,2015-07-02,2015-07-03,2015-07-06,2015-07-07,2015-07-08,2015-07-09,2015-07-10,2015-07-13,2015-07-14,2015-07-15,2015-07-16,2015-07-17,2015-07-20,2015-07-21,2015-07-22,2015-07-23,2015-07-24,2015-07-27,2015-07-28,2015-07-29,2015-07-30,2015-07-31,2015-08-03,2015-08-04,2015-08-05,2015-08-06,2015-08-07,2015-08-10,2015-08-11,2015-08-12,2015-08-13,2015-08-14,2015-08-17,2015-08-18,2015-08-19,2015-08-20,2015-08-21,2015-08-24,2015-08-25,2015-08-26,2015-08-27,2015-08-28,2015-08-31,2015-09-01,2015-09-02,2015-09-03,2015-09-04,2015-09-07,2015-09-08,2015-09-09,2015-09-10,2015-09-11,2015-09-14,2015-09-15,2015-09-16,2015-09-17,2015-09-18,2015-09-21,2015-09-22,2015-09-23,2015-09-24,2015-09-25,2015-09-28,2015-09-29,2015-09-30,2015-10-01,2015-10-02,2015-10-05,2015-10-06,2015-10-07,2015-10-08,2015-10-09,2015-10-12,2015-10-13,2015-10-14,2015-10-15,2015-10-16,2015-10-19,2015-10-20,2015-10-21,2015-10-22,2015-10-23,2015-10-26,2015-10-27,2015-10-28,2015-10-29,2015-10-30,2015-11-02,2015-11-03,2015-11-04,2015-11-05,2015-11-06,2015-11-09,2015-11-10,2015-11-11,2015-11-12,2015-11-13,2015-11-16,2015-11-17,2015-11-18,2015-11-19,2015-11-20,2015-11-23,2015-11-24,2015-11-25,2015-11-26,2015-11-27,2015-11-30,2015-12-01,2015-12-02,2015-12-03,2015-12-04,2015-12-07,2015-12-08,2015-12-09,2015-12-10,2015-12-11,2015-12-14,2015-12-15,2015-12-16,2015-12-17,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-25,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,NaN,2015-01-02 09:43:45,2015-01-05 10:08:48,2015-01-06 09:54:26,2015-01-07 09:34:31,2015-01-08 09:51:09,2015-01-09 10:09:25,2015-01-12 09:42:53,2015-01-13 10:13:06,NaN,2015-01-15 10:01:24,2015-01-16 10:19:08,NaN,2015-01-20 09:50:34,2015-01-21 09:49:42,2015-01-22 09:47:45,2015-01-23 09:23:44,NaN,2015-01-27 09:50:37,2015-01-28 09:56:13,2015-01-29 09:53:47,2015-01-30 10:09:26,2015-02-02 09:38:43,2015-02-03 10:23:38,2015-02-04 09:48:37,2015-02-05 09:52:36,2015-02-06 09:53:23,2015-02-09 10:01:45,2015-02-10 10:14:18,2015-02-11 10:18:44,2015-02-12 10:10:35,2015-02-13 09:13:07,2015-02-16 10:14:02,2015-02-17 10:03:08,2015-02-18 10:23:06,NaN,2015-02-20 09:54:56,2015-02-23 09:46:59,2015-02-24 10:11:18,2015-02-25 09:52:36,2015-02-26 09:56:33,2015-02-27 09:58:46,2015-03-02 10:19:43,2015-03-03 10:08:37,2015-03-04 10:05:38,NaN,2015-03-06 09:55:53,2015-03-09 10:28:34,2015-03-10 09:47:30,2015-03-11 09:48:59,2015-03-12 10:10:51,2015-03-13 10:07:18,NaN,2015-03-17 10:05:22,2015-03-18 10:28:21,2015-03-19 10:01:52,2015-03-20 10:37:49,2015-03-23 10:11:19,2015-03-24 10:33:19,2015-03-25 09:41:35,NaN,2015-03-27 09:47:30,2015-03-30 10:11:44,2015-03-31 10:08:13,2015-04-01 10:12:37,2015-04-02 09:45:27,2015-04-03 10:00:30,2015-04-06 09:40:19,2015-04-07 10:16:43,2015-04-08 10:04:34,2015-04-09 09:21:27,2015-04-10 09:46:25,2015-04-13 09:39:30,2015-04-14 09:58:48,2015-04-15 09:55:56,2015-04-16 09:46:07,2015-04-17 09:54:13,2015-04-20 10:03:25,2015-04-21 09:50:41,2015-04-22 09:56:16,2015-04-23 10:12:42,2015-04-24 10:05:40,2015-04-27 10:12:01,2015-04-28 09:57:24,2015-04-29 09:46:15,2015-04-30 09:48:30,NaN,2015-05-04 09:40:52,2015-05-05 09:54:59,2015-05-06 09:49:06,2015-05-07 10:06:47,2015-05-08 09:55:02,NaN,2015-05-12 09:50:17,2015-05-13 10:24:03,2015-05-14 09:50:43,2015-05-15 09:55:32,NaN,2015-05-19 09:49:06,2015-05-20 10:00:39,2015-05-21 09:53:15,2015-05-22 10:19:44,2015-05-25 10:15:25,2015-05-26 10:17:01,2015-05-27 09:41:25,2015-05-28 09:57:00,NaN,NaN,2015-06-02 10:20:49,2015-06-03 09:47:19,2015-06-04 10:23:40,NaN,2015-06-08 10:17:56,NaN,2015-06-10 09:54:33,2015-06-11 09:47:09,2015-06-12 10:13:55,2015-06-15 09:50:19,2015-06-16 09:59:04,2015-06-17 09:46:15,2015-06-18 10:03:15,2015-06-19 10:06:21,2015-06-22 09:48:40,2015-06-23 09:56:55,2015-06-24 09:59:40,2015-06-25 09:52:01,2015-06-26 10:07:58,2015-06-29 10:01:19,2015-06-30 10:27:40,2015-07-01 09:39:02,2015-07-02 10:07:33,2015-07-03 09:59:57,2015-07-06 09:37:06,2015-07-07 10:08:17,2015-07-08 09:56:30,2015-07-09 09:21:57,2015-07-10 09:43:31,2015-07-13 10:07:21,2015-07-14 10:06:39,2015-07-15 09:54:34,2015-07-16 10:22:47,NaN,2015-07-20 10:25:50,2015-07-21 09:48:05,2015-07-22 09:52:29,2015-07-23 10:04:42,2015-07-24 09:34:15,2015-07-27 09:56:24,2015-07-28 10:19:57,2015-07-29 09:48:10,2015-07-30 09:52:24,2015-07-31 10:11:14,2015-08-03 10:03:33,2015-08-04 09:59:34,2015-08-05 09:50:51,2015-08-06 09:56:52,2015-08-07 09:51:30,2015-08-10 10:12:23,2015-08-11 10:08:29,2015-08-12 09:39:08,2015-08-13 09:47:09,2015-08-14 10:00:21,2015-08-17 09:24:23,2015-08-18 10:25:27,2015-08-19 10:14:41,2015-08-20 09:57:56,2015-08-21 10:07:11,2015-08-24 10:07:49,2015-08-25 09:47:59,2015-08-26 09:53:49,2015-08-27 10:16:21,2015-08-28 09:53:47,2015-08-31 10:08:07,NaN,2015-09-02 10:37:59,2015-09-03 09:41:16,2015-09-04 10:11:00,2015-09-07 10:17:58,2015-09-08 10:31:57,2015-09-09 10:28:33,2015-09-10 09:54:28,2015-09-11 10:02:49,2015-09-14 10:15:40,2015-09-15 10:26:09,2015-09-16 10:11:03,NaN,2015-09-18 10:16:06,2015-09-21 09:48:01,2015-09-22 10:34:52,2015-09-23 10:03:15,2015-09-24 10:00:12,2015-09-25 10:00:00,2015-09-28 09:28:45,2015-09-29 09:51:58,2015-09-30 09:52:41,2015-10-01 10:05:28,NaN,2015-10-05 10:02:00,2015-10-06 09:48:24,2015-10-07 09:32:05,2015-10-08 09:39:01,2015-10-09 09:33:40,2015-10-12 10:14:36,NaN,2015-10-14 10:19:43,2015-10-15 10:19:51,2015-10-16 09:50:41,2015-10-19 09:55:08,2015-10-20 10:00:37,NaN,NaN,2015-10-23 10:03:33,2015-10-26 09:51:07,2015-10-27 09:25:10,2015-10-28 09:50:30,2015-10-29 09:50:22,2015-10-30 09:51:07,2015-11-02 10:01:58,2015-11-03 10:28:53,2015-11-04 09:47:00,2015-11-05 10:24:57,2015-11-06 10:15:27,NaN,NaN,NaN,2015-11-12 10:02:34,2015-11-13 09:29:49,2015-11-16 10:16:02,2015-11-17 09:57:23,2015-11-18 10:13:24,2015-11-19 09:46:48,2015-11-20 10:09:35,2015-11-23 09:54:17,2015-11-24 10:02:07,2015-11-25 10:01:51,2015-11-26 10:18:45,2015-11-27 10:24:49,2015-11-30 10:04:24,2015-12-01 09:31:27,2015-12-02 09:57:52,2015-12-03 10:05:55,2015-12-04 09:55:09,2015-12-07 09:28:15,2015-12-08 09:54:56,2015-12-09 09:51:52,2015-12-10 09:40:25,2015-12-11 09:46:49,2015-12-14 10:03:33,NaN,2015-12-16 10:21:19,NaN,NaN,2015-12-21 09:55:29,2015-12-22 10:04:06,2015-12-23 10:14:27,2015-12-24 10:11:35,NaN,2015-12-28 10:13:41,2015-12-29 10:03:36,2015-12-30 09:54:12,2015-12-31 10:12:44
1,2,NaN,2015-01-02 10:15:44,2015-01-05 10:21:05,NaN,2015-01-07 09:45:17,2015-01-08 10:09:04,2015-01-09 09:43:26,2015-01-12 10:00:07,2015-01-13 10:43:29,NaN,2015-01-15 09:37:57,2015-01-16 09:57:18,2015-01-19 10:23:43,2015-01-20 09:29:03,2015-01-21 09:46:45,2015-01-22 10:03:51,2015-01-23 09:20:06,NaN,2015-01-27 10:07:48,2015-01-28 10:08:25,2015-01-29 09:52:04,2015-01-30 09:49:49,2015-02-02 10:07:26,2015-02-03 09:55:45,2015-02-04 10:25:41,2015-02-05 10:05:11,2015-02-06 09:12:39,NaN,2015-02-10 10:10:13,2015-02-11 09:40:20,2015-02-12 10:10:09,2015-02-13 09:35:25,2015-02-16 10:04:12,2015-02-17 09:45:05,2015-02-18 09:54:42,2015-02-19 10:11:49,2015-02-20 10:06:18,2015-02-23 09:41:58,2015-02-24 09:44:22,2015-02-25 09:58:39,2015-02-26 09:59:07,2015-02-27 10:31:41,2015-03-02 09:55:43,2015-03-03 10:31:20,2015-03-04 09:56:59,NaN,2015-03-06 10:01:10,2015-03-09 10:02:33,2015-03-10 09:32:40,2015-03-11 09:57:02,2015-03-12 09:59:32,2015-03-13 09:59:14,2015-03-16 09:56:19,2015-03-17 09:36:08,2015-03-18 10:00:32,2015-03-19 09:46:51,2015-03-20 10:06:06,2015-03-23 10:02:02,NaN,2015-03-25 10:03:04,2015-03-26 09:52:38,2015-03-27 10:02:55,2015-03-30 10:04:24,2015-03-31 10:30:25,2015-04-01 09:46:24,2015-04-02 09:53:55,2015-04-03 10:30:21,2015-04-06 10:18:14,2015-04-07 10:22:22,2015-04-08 09:46:42,2015-04-09 10:02:22,2015-04-10 09:47:56,2015-04-13 09:33:46,2015-04-14 09:50:19,2015-04-15 10:06:41,2015-04-16 10:07:24,2015-04-17 09:40:35,2015-04-20 10:04:05,2015-04-21 10:21:53,2015-04-22 09:40:33,2015-04-23 10:06:54,2015-04-24 10:10:19,2015-04-27 09:33:44,2015-04-28 09:52:51,NaN,2015-04-30 10:14:03,NaN,2015-05-04 09:53:54,2015-05-05 10:25:20,2015-05-06 09:46:04,2015-05-07 09:49:37,2015-05-08 09:56:40,2015-05-11 09:58:30,2015-05-12 09:44:55,2015-05-13 10:06:35,NaN,2015-05-15 09:43:03,NaN,2015-05-19 09:48:05,2015-05-20 10:18:00,2015-05-21 09:42:47,2015-05-22 10:37:50,2015-05-25 09:46:03,2015-05-26 09:42:16,2015-05-27 09:53:20,2015-05-28 09:54:58,2015-05-29 09:52:45,2015-06-01 09:54:45,2015-06-02 09:57:56,2015-06-03 10:10:48,2015-06-04 09:31:48,2015-06-05 10:06:28,2015-06-08 09:45:19,2015-06-09 09:59:08,2015-06-10 09:39:05,2015-06-11 09:55:03,NaN,2015-06-15 09:45:02,2015-06-16 10:15:23,2015-06-17 09:52:23,2015-06-18 09:55:27,2015-06-19 10:13:33,2015-06-22 09:48:24,2015-06-23 09:59:12,2015-06-24 10:27:17,2015-06-25 10:12:33,2015-06-26 09:55:00,2015-06-29 10:02:27,2015-06-30 10:13:31,2015-07-01 09:45:31,2015-07-02 10:04:21,2015-07-03 10:00:01,2015-07-06 10:10:37,2015-07-07 10:29:29,2015-07-08 09:38:19,2015-07-09 10:21:59,2015-07-10 10:30:44,NaN,2015-07-14 10:35:52,2015-07-15 09:47:06,2015-07-16 09:59:13,NaN,2015-07-20 10:18:08,2015-07-21 10:23:11,2015-07-22 09:32:15,2015-07-23 09:40:12,2015-07-24 10:15:22,NaN,2015-07-28 10:16:14,2015-07-29 09:58:33,2015-07-30 09:57:10,2015-07-31 10:15:38,2015-08-03 09:58:28,2015-08-04 10:17:10,2015-08-05 09:38:46,2015-08-06 10:16:03,2015-08-07 09:52:22,2015-08-10 09:37:38,2015-08-11 09:54:35,2015-08-12 09:27:52,2015-08-13 09:50:57,2015-08-14 09:38:27,2015-08-17 09:52:16,2015-08-18 09:34:06,2015-08-19 09:43:02,2015-08-20 10:16:38,2015-08-21 10:07:18,2015-08-24 09:36:46,2015-08-25 09:42:22,2015-08-26 10:15:22,2015-08-27 10:11:04,2015-08-28 09:50:51,2015-08-31 10:23:10,2015-09-01 10:23:47,2015-09-02 09:57:01,2015-09-03 09:56:07,2015-09-04 10:33:03,2015-09-07 09:58:33,NaN,2015-09-09 10:17:43,2015-09-10 10:28:40,2015-09-11 09:58:20,2015-09-14 09:43:25,2015-09-15 09:25:53,2015-09-16 09:26:29,NaN,2015-09-18 10:27:07,2015-09-21 10:03:31,2015-09-22 09:35:23,2015-09-23 10:12:56,2015-09-24 10:02:52,2015-09-25 09:37:12,2015-09-28 10:11:06,2015-09-29 10:00:31,2015-09-30 10:22:56,2015-10-01 10:08:29,NaN,2015-10-05 10:02:26,2015-10-06 10:08:57,2015-10-07 10:10:19,2015-10-08 10:04:03,2015-10-09 09:40:41,2015-10-12 10:11:30,2015-10-13 10:14:39,2015-10-14 10:10:48,NaN,2015-10-16 10:20:19,2015-10-19 10:04:13,2015-10-20 09:39:10,2015-10-21 09:47:15,2015-10-22 09:56:54,2015-10-23 09:53:38,2015-10-26 09:49:43,2015-10-27 10:29:20,2015-10-28 09:47:39,2015-10-29 09:52:02,2015-10-30 09:47:37,2015-11-02 10:04:45,2015-11-03 09:36:03,2015-11-04 09:58:34,2015-11-05 09:50:08,2015-11-06 10:02:38,NaN,NaN,NaN,2015-11-12 09:54:47,2015-11-13 09:26:10,2015-11-16 10:22:00,2015-11-17 09:26:04,2015-11-18 10:10:39,NaN,2015-11-20 10:01:09,2015-11-23 09:51:11,2015-11-24 09:19:04,2015-11-25 09:43:44,2015-11-26 10:34:30,2015-11-27 10:15:10,2015-11-30 09:46:46,2015-12-01 09:56:22,2015-12-02 09:55:43,2015-12-03 10:05:37,2015-12-04 10:02:05,2015-12-07 09:36:05,2015-12-08 10:01:21,2015-12-09 09:49:23,2015-12-10 10:06:05,2015-12-11 10:15:18,2015-12-14 10:00:01,2015-12-15 10:30:18,2015-12-16 10:01:18,2015-12-17 09:15:08,2015-12-18 10:37:17,2015-12-21 09:49:02,2015-12-22 10:33:51,2015-12-23 10:12:10,NaN,NaN,2015-12-28 09:31:45,2015-12-29 09:55:49,2015-12-30 10:32:25,2015-12-31 09:27:20
2,3,NaN,2015-01-02 10:17:41,2015-01-05 09:50:50,2015-01-06 10:14:13,2015-01-07 09:47:27,2015-01-08 10:03:40,2015-01-09 10:05:49,2015-01-12 10:03:47,2015-01-13 10:21:26,NaN,2015-01-15 09:55:11,2015-01-16 10:05:36,2015-01-19 09:47:53,2015-01-20 09:57:09,2015-01-21 10:29:40,2015-01-22 09:59:11,2015-01-23 10:16:34,NaN,2015-01-27 10:07:30,2015-01-28 10:05:43,2015-01-29 10:06:48,2015-01-30 10:14:36,2015-02-02 09:54:45,2015-02-03 09:27:11,2015-02-04 10:04:03,2015-02-05 10:08:11,2015-02-06 10:23:51,2015-02-09 10:08:43,2015-02-10 10:26:18,2015-02-11 10:02:13,2015-02-12 09:55:10,2015-02-13 10:32:34,2015-02-16 10:18:43,2015-02-17 10:04:54,2015-02-18 10:16:19,2015-02-19 09:47:19,2015-02-20 10:20:51,2015-02-23 10:14:02,2015-02-24 10:23:28,2015-02-25 09:59:06,2015-02-26 10:01:22,2015-02-27 09:57:26,2015-03-02 10:02:38,2015-03-03 10:07:45,2015-03-04 10:15:26,NaN,2015-03-06 09:48:49,2015-03-09 10:17:45,2015-03-10 09:46:10,2015-03-11 10:26:39,2015-03-12 09:56:28,2015-03-13 09:36:23,2015-03-16 10:07:30,2015-03-17 10:00:43,2015-03-18 10:20:10,2015-03-19 09:54:40,NaN,2015-03-23 10:04:28,2015-03-24 10:18:38,2015-03-25 09:43:22,2015-03-26 09:37:02,NaN,2015-03-30 09:54:55,2015-03-31 10:00:57,2015-04-01 09:52:42,2015-04-02 10:24:02,2015-04-03 10:01:42,2015-04-06 09:33:15,2015-04-07 10:13:13,2015-04-08 10:38:41,2015-04-09 10:17:34,2015-04-10 10:28:08,2015-04-13 10:14:55,2015-04-14 09:29:50,2015-04-15 10:06:52,2015-04-16 09:46:13,2015-04-17 10:16:08,2015-04-20 09:36:16,2015-04-21 10:07:10,2015-04-22 09:56:42,NaN,2015-04-24 10:10:15,2015-04-27 09:29:29,2015-04-28 10:01:45,2015-04-29 09:54:28,2015-04-30 09:40:30,NaN,2015-05-04 09:55:15,2015-05-05 09:53:50,2015-05-06 10:20:45,2015-05-07 09:49:38,2015-05-08 10:21:01,2015-05-11 09:47:03,2015-05-12 09:39:48,2015-05-13 09:50:23,2015-05-14 09:45:22,2015-05-15 09:48:59,2015-05-18 10:03:24,2015-05-19 09:40:26,2015-05-20 09:40:20,2015-05-21 09:37:39,2015-05-22 10:04:08,2015-05-25 10:06:54,2015-05-26 10:28:05,2015-05-27 10:14:07,2015-05-28 10:13:25,2015-05-29 10:08:23,2015-06-01 09:57:32,2015-06-02 09:58:49,2015-06-03 10:03:00,2015-06-04 09:32:13,2015-06-05 09:43:51,2015-06-08 09:31:20,2015-06-09 09:49:58,2015-06-10 10:14:49,2015-06-11 10:07:21,2015-06-12 10:10:53,2015-06-15 09:52:17,2015-06-16 09:33:01,2015-06-17 09:50:53,2015-06-18 10:01:04,2015-06-19 09:47:22,2015-06-22 09:52:10,2015-06-23 09:44:50,NaN,2015-06-25 10:10:41,2015-06-26 10:02:07,2015-06-29 09:33:13,2015-06-30 10:13:47,2015-07-01 10:07:56,2015-07-02 10:26:28,2015-07-03 09:40:28,2015-07-06 10:02:42,2015-07-07 10:50:49,2015-07-08 09:56:24,2015-07-09 10:08:14,2015-07-10 09:58:44,2015-07-13 09:59:18,2015-07-14 09:54:55,2015-07-15 09:42:13,2015-07-16 10:00:16,NaN,2015-07-20 10:12:37,2015-07-21 09:39:36,2015-07-22 09:50:19,2015-07-23 10:27:02,2015-07-24 09:58:29,2015-07-27 10:11:51,2015-07-28 09:44:58,2015-07-29 10:29:58,2015-07-30 10:27:08,2015-07-31 09:32:14,2015-08-03 09:49:21,2015-08-04 09:37:19,NaN,2015-08-06 10:00:11,2015-08-07 09:36:58,2015-08-10 09:51:11,2015-08-11 09:49:26,2015-08-12 10:26:18,2015-08-13 10:12:57,2015-08-14 09:51:22,2015-08-17 09:59:35,2015-08-18 09:57:40,2015-08-19 10:06:09,2015-08-20 10:09:06,2015-08-21 10:28:51,2015-08-24 10:04:52,2015-08-25 10:09:53,2015-08-26 10:26:55,2015-08-27 09:08:23,2015-08-28 10:07:20,2015-08-31 09:44:35,2015-09-01 09:51:52,2015-09-02 09:52:28,2015-09-03 10:05:51,2015-09-04 10:11:53,2015-09-07 09:28:00,2015-09-08 09:38:21,2015-09-09 09:45:09,2015-09-10 09:49:52,2015-09-11 09:57:16,2015-09-14 10:27:59,2015-09-15 10:11:20,2015-09-16 09:55:26,NaN,2015-09-18 09:54:29,2015-09-21 09:29:30,2015-09-22 09:35:39,2015-09-23 09:56:54,2015-09-24 10:31:35,2015-09-25 09:40:55,2015-09-28 09:55:28,2015-09-29 10:25:49,2015-09-30 10:11:02,2015-10-01 09:58:27,NaN,2015-10-05 10:10:21,2015-10-06 09:56:07,2015-10-07 10:09:43,2015-10-08 09:46:36,2015-10-09 10:00:44,2015-10-12 10:14:10,2015-10-13 10:22:14,2015-10-14 10:20:42,2015-10-15 10:12:05,2015-10-16 09:41:55,2015-10-19 10:03:40,2015-10-20 10:02:12,2015-10-21 10:52:27,2015-10-22 10:10:44,2015-10-23 10:08:37,2015-10-26 10:29:26,2015-10-27 09:48:57,2015-10-28 09:54:52,2015-10-29 09:47:27,2015-10-30 09:51:47,2015-11-02 09:54:18,2015-11-03 09:52:40,2015-11-04 10:19:14,2015-11-05 10:23:27,2015-11-06 10:06:29,NaN,NaN,NaN,2015-11-12 10:14:47,2015-11-13 09:43:37,2015-11-16 10:02:56,2015-11-17 09:51:38,2015-11-18 10:12:13,2015-11-19 10:08:46,2015-11-20 10:06:39,2015-11-23 10:02:01,2015-11-24 09:53:52,2015-11-25 10:16:19,2015-11-26 10:07:02,NaN,2015-11-30 10:01:33,2015-12-01 10:02:52,2015-12-02 10:10:34,2015-12-03 10:18:25,2015-12-04 10:06:40,2015-12-07 10:21:09,2015-12-08 09:59:19,2015-12-09 10:17:28,NaN,2015-12-11 09:49:55,2015-12-14 09:42:31,2015-12-15 09:54:48,2015-12-16 09:48:34,2015-12-17 09:53:17,2015-12-18 10:15:14,2015-12-21 10:10:28,2015-12-22 09:44:44,2015-12-23 10:15:54,2015-12-24 10:07:26,NaN,2015-12-28 09:42:05,2015-12-29 09:43:36,2015-12-30 09:34:05,2015-12-31 10:28:39

In [47]:
# remove 0 values (0 values are days where the office was closed)

In [48]:
total_time = total_time.dropna(axis=1, how='all')

In [49]:
total_time

,Unnamed: 0,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-15,2015-01-16,2015-01-19,2015-01-20,2015-01-21,2015-01-22,2015-01-23,2015-01-27,2015-01-28,2015-01-29,2015-01-30,2015-02-02,2015-02-03,2015-02-04,2015-02-05,2015-02-06,2015-02-09,2015-02-10,2015-02-11,2015-02-12,2015-02-13,2015-02-16,2015-02-17,2015-02-18,2015-02-19,2015-02-20,2015-02-23,2015-02-24,2015-02-25,2015-02-26,2015-02-27,2015-03-02,2015-03-03,2015-03-04,2015-03-06,2015-03-09,2015-03-10,2015-03-11,2015-03-12,2015-03-13,2015-03-16,2015-03-17,2015-03-18,2015-03-19,2015-03-20,2015-03-23,2015-03-24,2015-03-25,2015-03-26,2015-03-27,2015-03-30,2015-03-31,2015-04-01,2015-04-02,2015-04-03,2015-04-06,2015-04-07,2015-04-08,2015-04-09,2015-04-10,2015-04-13,2015-04-14,2015-04-15,2015-04-16,2015-04-17,2015-04-20,2015-04-21,2015-04-22,2015-04-23,2015-04-24,2015-04-27,2015-04-28,2015-04-29,2015-04-30,2015-05-04,2015-05-05,2015-05-06,2015-05-07,2015-05-08,2015-05-11,2015-05-12,2015-05-13,2015-05-14,2015-05-15,2015-05-18,2015-05-19,2015-05-20,2015-05-21,2015-05-22,2015-05-25,2015-05-26,2015-05-27,2015-05-28,2015-05-29,2015-06-01,2015-06-02,2015-06-03,2015-06-04,2015-06-05,2015-06-08,2015-06-09,2015-06-10,2015-06-11,2015-06-12,2015-06-15,2015-06-16,2015-06-17,2015-06-18,2015-06-19,2015-06-22,2015-06-23,2015-06-24,2015-06-25,2015-06-26,2015-06-29,2015-06-30,2015-07-01,2015-07-02,2015-07-03,2015-07-06,2015-07-07,2015-07-08,2015-07-09,2015-07-10,2015-07-13,2015-07-14,2015-07-15,2015-07-16,2015-07-20,2015-07-21,2015-07-22,2015-07-23,2015-07-24,2015-07-27,2015-07-28,2015-07-29,2015-07-30,2015-07-31,2015-08-03,2015-08-04,2015-08-05,2015-08-06,2015-08-07,2015-08-10,2015-08-11,2015-08-12,2015-08-13,2015-08-14,2015-08-17,2015-08-18,2015-08-19,2015-08-20,2015-08-21,2015-08-24,2015-08-25,2015-08-26,2015-08-27,2015-08-28,2015-08-31,2015-09-01,2015-09-02,2015-09-03,2015-09-04,2015-09-07,2015-09-08,2015-09-09,2015-09-10,2015-09-11,2015-09-14,2015-09-15,2015-09-16,2015-09-18,2015-09-21,2015-09-22,2015-09-23,2015-09-24,2015-09-25,2015-09-28,2015-09-29,2015-09-30,2015-10-01,2015-10-05,2015-10-06,2015-10-07,2015-10-08,2015-10-09,2015-10-12,2015-10-13,2015-10-14,2015-10-15,2015-10-16,2015-10-19,2015-10-20,2015-10-21,2015-10-22,2015-10-23,2015-10-26,2015-10-27,2015-10-28,2015-10-29,2015-10-30,2015-11-02,2015-11-03,2015-11-04,2015-11-05,2015-11-06,2015-11-12,2015-11-13,2015-11-16,2015-11-17,2015-11-18,2015-11-19,2015-11-20,2015-11-23,2015-11-24,2015-11-25,2015-11-26,2015-11-27,2015-11-30,2015-12-01,2015-12-02,2015-12-03,2015-12-04,2015-12-07,2015-12-08,2015-12-09,2015-12-10,2015-12-11,2015-12-14,2015-12-15,2015-12-16,2015-12-17,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,2015-01-02 09:43:45,2015-01-05 10:08:48,2015-01-06 09:54:26,2015-01-07 09:34:31,2015-01-08 09:51:09,2015-01-09 10:09:25,2015-01-12 09:42:53,2015-01-13 10:13:06,2015-01-15 10:01:24,2015-01-16 10:19:08,NaN,2015-01-20 09:50:34,2015-01-21 09:49:42,2015-01-22 09:47:45,2015-01-23 09:23:44,2015-01-27 09:50:37,2015-01-28 09:56:13,2015-01-29 09:53:47,2015-01-30 10:09:26,2015-02-02 09:38:43,2015-02-03 10:23:38,2015-02-04 09:48:37,2015-02-05 09:52:36,2015-02-06 09:53:23,2015-02-09 10:01:45,2015-02-10 10:14:18,2015-02-11 10:18:44,2015-02-12 10:10:35,2015-02-13 09:13:07,2015-02-16 10:14:02,2015-02-17 10:03:08,2015-02-18 10:23:06,NaN,2015-02-20 09:54:56,2015-02-23 09:46:59,2015-02-24 10:11:18,2015-02-25 09:52:36,2015-02-26 09:56:33,2015-02-27 09:58:46,2015-03-02 10:19:43,2015-03-03 10:08:37,2015-03-04 10:05:38,2015-03-06 09:55:53,2015-03-09 10:28:34,2015-03-10 09:47:30,2015-03-11 09:48:59,2015-03-12 10:10:51,2015-03-13 10:07:18,NaN,2015-03-17 10:05:22,2015-03-18 10:28:21,2015-03-19 10:01:52,2015-03-20 10:37:49,2015-03-23 10:11:19,2015-03-24 10:33:19,2015-03-25 09:41:35,NaN,2015-03-27 09:47:30,2015-03-30 10:11:44,2015-03-31 10:08:13,2015-04-01 10:12:37,2015-04-02 09:45:27,2015-04-03 10:00:30,2015-04-06 09:40:19,2015-04-07 10:16:43,2015-04-08 10:04:34,2015-04-09 09:21:27,2015-04-10 09:46:25,2015-04-13 09:39:30,2015-04-14 09:58:48,2015-04-15 09:55:56,2015-04-16 09:46:07,2015-04-17 09:54:13,2015-04-20 10:03:25,2015-04-21 09:50:41,2015-04-22 09:56:16,2015-04-23 10:12:42,2015-04-24 10:05:40,2015-04-27 10:12:01,2015-04-28 09:57:24,2015-04-29 09:46:15,2015-04-30 09:48:30,2015-05-04 09:40:52,2015-05-05 09:54:59,2015-05-06 09:49:06,2015-05-07 10:06:47,2015-05-08 09:55:02,NaN,2015-05-12 09:50:17,2015-05-13 10:24:03,2015-05-14 09:50:43,2015-05-15 09:55:32,NaN,2015-05-19 09:49:06,2015-05-20 10:00:39,2015-05-21 09:53:15,2015-05-22 10:19:44,2015-05-25 10:15:25,2015-05-26 10:17:01,2015-05-27 09:41:25,2015-05-28 09:57:00,NaN,NaN,2015-06-02 10:20:49,2015-06-03 09:47:19,2015-06-04 10:23:40,NaN,2015-06-08 10:17:56,NaN,2015-06-10 09:54:33,2015-06-11 09:47:09,2015-06-12 10:13:55,2015-06-15 09:50:19,2015-06-16 09:59:04,2015-06-17 09:46:15,2015-06-18 10:03:15,2015-06-19 10:06:21,2015-06-22 09:48:40,2015-06-23 09:56:55,2015-06-24 09:59:40,2015-06-25 09:52:01,2015-06-26 10:07:58,2015-06-29 10:01:19,2015-06-30 10:27:40,2015-07-01 09:39:02,2015-07-02 10:07:33,2015-07-03 09:59:57,2015-07-06 09:37:06,2015-07-07 10:08:17,2015-07-08 09:56:30,2015-07-09 09:21:57,2015-07-10 09:43:31,2015-07-13 10:07:21,2015-07-14 10:06:39,2015-07-15 09:54:34,2015-07-16 10:22:47,2015-07-20 10:25:50,2015-07-21 09:48:05,2015-07-22 09:52:29,2015-07-23 10:04:42,2015-07-24 09:34:15,2015-07-27 09:56:24,2015-07-28 10:19:57,2015-07-29 09:48:10,2015-07-30 09:52:24,2015-07-31 10:11:14,2015-08-03 10:03:33,2015-08-04 09:59:34,2015-08-05 09:50:51,2015-08-06 09:56:52,2015-08-07 09:51:30,2015-08-10 10:12:23,2015-08-11 10:08:29,2015-08-12 09:39:08,2015-08-13 09:47:09,2015-08-14 10:00:21,2015-08-17 09:24:23,2015-08-18 10:25:27,2015-08-19 10:14:41,2015-08-20 09:57:56,2015-08-21 10:07:11,2015-08-24 10:07:49,2015-08-25 09:47:59,2015-08-26 09:53:49,2015-08-27 10:16:21,2015-08-28 09:53:47,2015-08-31 10:08:07,NaN,2015-09-02 10:37:59,2015-09-03 09:41:16,2015-09-04 10:11:00,2015-09-07 10:17:58,2015-09-08 10:31:57,2015-09-09 10:28:33,2015-09-10 09:54:28,2015-09-11 10:02:49,2015-09-14 10:15:40,2015-09-15 10:26:09,2015-09-16 10:11:03,2015-09-18 10:16:06,2015-09-21 09:48:01,2015-09-22 10:34:52,2015-09-23 10:03:15,2015-09-24 10:00:12,2015-09-25 10:00:00,2015-09-28 09:28:45,2015-09-29 09:51:58,2015-09-30 09:52:41,2015-10-01 10:05:28,2015-10-05 10:02:00,2015-10-06 09:48:24,2015-10-07 09:32:05,2015-10-08 09:39:01,2015-10-09 09:33:40,2015-10-12 10:14:36,NaN,2015-10-14 10:19:43,2015-10-15 10:19:51,2015-10-16 09:50:41,2015-10-19 09:55:08,2015-10-20 10:00:37,NaN,NaN,2015-10-23 10:03:33,2015-10-26 09:51:07,2015-10-27 09:25:10,2015-10-28 09:50:30,2015-10-29 09:50:22,2015-10-30 09:51:07,2015-11-02 10:01:58,2015-11-03 10:28:53,2015-11-04 09:47:00,2015-11-05 10:24:57,2015-11-06 10:15:27,2015-11-12 10:02:34,2015-11-13 09:29:49,2015-11-16 10:16:02,2015-11-17 09:57:23,2015-11-18 10:13:24,2015-11-19 09:46:48,2015-11-20 10:09:35,2015-11-23 09:54:17,2015-11-24 10:02:07,2015-11-25 10:01:51,2015-11-26 10:18:45,2015-11-27 10:24:49,2015-11-30 10:04:24,2015-12-01 09:31:27,2015-12-02 09:57:52,2015-12-03 10:05:55,2015-12-04 09:55:09,2015-12-07 09:28:15,2015-12-08 09:54:56,2015-12-09 09:51:52,2015-12-10 09:40:25,2015-12-11 09:46:49,2015-12-14 10:03:33,NaN,2015-12-16 10:21:19,NaN,NaN,2015-12-21 09:55:29,2015-12-22 10:04:06,2015-12-23 10:14:27,2015-12-24 10:11:35,2015-12-28 10:13:41,2015-12-29 10:03:36,2015-12-30 09:54:12,2015-12-31 10:12:44
1,2,2015-01-02 10:15:44,2015-01-05 10:21:05,NaN,2015-01-07 09:45:17,2015-01-08 10:09:04,2015-01-09 09:43:26,2015-01-12 10:00:07,2015-01-13 10:43:29,2015-01-15 09:37:57,2015-01-16 09:57:18,2015-01-19 10:23:43,2015-01-20 09:29:03,2015-01-21 09:46:45,2015-01-22 10:03:51,2015-01-23 09:20:06,2015-01-27 10:07:48,2015-01-28 10:08:25,2015-01-29 09:52:04,2015-01-30 09:49:49,2015-02-02 10:07:26,2015-02-03 09:55:45,2015-02-04 10:25:41,2015-02-05 10:05:11,2015-02-06 09:12:39,NaN,2015-02-10 10:10:13,2015-02-11 09:40:20,2015-02-12 10:10:09,2015-02-13 09:35:25,2015-02-16 10:04:12,2015-02-17 09:45:05,2015-02-18 09:54:42,2015-02-19 10:11:49,2015-02-20 10:06:18,2015-02-23 09:41:58,2015-02-24 09:44:22,2015-02-25 09:58:39,2015-02-26 09:59:07,2015-02-27 10:31:41,2015-03-02 09:55:43,2015-03-03 10:31:20,2015-03-04 09:56:59,2015-03-06 10:01:10,2015-03-09 10:02:33,2015-03-10 09:32:40,2015-03-11 09:57:02,2015-03-12 09:59:32,2015-03-13 09:59:14,2015-03-16 09:56:19,2015-03-17 09:36:08,2015-03-18 10:00:32,2015-03-19 09:46:51,2015-03-20 10:06:06,2015-03-23 10:02:02,NaN,2015-03-25 10:03:04,2015-03-26 09:52:38,2015-03-27 10:02:55,2015-03-30 10:04:24,2015-03-31 10:30:25,2015-04-01 09:46:24,2015-04-02 09:53:55,2015-04-03 10:30:21,2015-04-06 10:18:14,2015-04-07 10:22:22,2015-04-08 09:46:42,2015-04-09 10:02:22,2015-04-10 09:47:56,2015-04-13 09:33:46,2015-04-14 09:50:19,2015-04-15 10:06:41,2015-04-16 10:07:24,2015-04-17 09:40:35,2015-04-20 10:04:05,2015-04-21 10:21:53,2015-04-22 09:40:33,2015-04-23 10:06:54,2015-04-24 10:10:19,2015-04-27 09:33:44,2015-04-28 09:52:51,NaN,2015-04-30 10:14:03,2015-05-04 09:53:54,2015-05-05 10:25:20,2015-05-06 09:46:04,2015-05-07 09:49:37,2015-05-08 09:56:40,2015-05-11 09:58:30,2015-05-12 09:44:55,2015-05-13 10:06:35,NaN,2015-05-15 09:43:03,NaN,2015-05-19 09:48:05,2015-05-20 10:18:00,2015-05-21 09:42:47,2015-05-22 10:37:50,2015-05-25 09:46:03,2015-05-26 09:42:16,2015-05-27 09:53:20,2015-05-28 09:54:58,2015-05-29 09:52:45,2015-06-01 09:54:45,2015-06-02 09:57:56,2015-06-03 10:10:48,2015-06-04 09:31:48,2015-06-05 10:06:28,2015-06-08 09:45:19,2015-06-09 09:59:08,2015-06-10 09:39:05,2015-06-11 09:55:03,NaN,2015-06-15 09:45:02,2015-06-16 10:15:23,2015-06-17 09:52:23,2015-06-18 09:55:27,2015-06-19 10:13:33,2015-06-22 09:48:24,2015-06-23 09:59:12,2015-06-24 10:27:17,2015-06-25 10:12:33,2015-06-26 09:55:00,2015-06-29 10:02:27,2015-06-30 10:13:31,2015-07-01 09:45:31,2015-07-02 10:04:21,2015-07-03 10:00:01,2015-07-06 10:10:37,2015-07-07 10:29:29,2015-07-08 09:38:19,2015-07-09 10:21:59,2015-07-10 10:30:44,NaN,2015-07-14 10:35:52,2015-07-15 09:47:06,2015-07-16 09:59:13,2015-07-20 10:18:08,2015-07-21 10:23:11,2015-07-22 09:32:15,2015-07-23 09:40:12,2015-07-24 10:15:22,NaN,2015-07-28 10:16:14,2015-07-29 09:58:33,2015-07-30 09:57:10,2015-07-31 10:15:38,2015-08-03 09:58:28,2015-08-04 10:17:10,2015-08-05 09:38:46,2015-08-06 10:16:03,2015-08-07 09:52:22,2015-08-10 09:37:38,2015-08-11 09:54:35,2015-08-12 09:27:52,2015-08-13 09:50:57,2015-08-14 09:38:27,2015-08-17 09:52:16,2015-08-18 09:34:06,2015-08-19 09:43:02,2015-08-20 10:16:38,2015-08-21 10:07:18,2015-08-24 09:36:46,2015-08-25 09:42:22,2015-08-26 10:15:22,2015-08-27 10:11:04,2015-08-28 09:50:51,2015-08-31 10:23:10,2015-09-01 10:23:47,2015-09-02 09:57:01,2015-09-03 09:56:07,2015-09-04 10:33:03,2015-09-07 09:58:33,NaN,2015-09-09 10:17:43,2015-09-10 10:28:40,2015-09-11 09:58:20,2015-09-14 09:43:25,2015-09-15 09:25:53,2015-09-16 09:26:29,2015-09-18 10:27:07,2015-09-21 10:03:31,2015-09-22 09:35:23,2015-09-23 10:12:56,2015-09-24 10:02:52,2015-09-25 09:37:12,2015-09-28 10:11:06,2015-09-29 10:00:31,2015-09-30 10:22:56,2015-10-01 10:08:29,2015-10-05 10:02:26,2015-10-06 10:08:57,2015-10-07 10:10:19,2015-10-08 10:04:03,2015-10-09 09:40:41,2015-10-12 10:11:30,2015-10-13 10:14:39,2015-10-14 10:10:48,NaN,2015-10-16 10:20:19,2015-10-19 10:04:13,2015-10-20 09:39:10,2015-10-21 09:47:15,2015-10-22 09:56:54,2015-10-23 09:53:38,2015-10-26 09:49:43,2015-10-27 10:29:20,2015-10-28 09:47:39,2015-10-29 09:52:02,2015-10-30 09:47:37,2015-11-02 10:04:45,2015-11-03 09:36:03,2015-11-04 09:58:34,2015-11-05 09:50:08,2015-11-06 10:02:38,2015-11-12 09:54:47,2015-11-13 09:26:10,2015-11-16 10:22:00,2015-11-17 09:26:04,2015-11-18 10:10:39,NaN,2015-11-20 10:01:09,2015-11-23 09:51:11,2015-11-24 09:19:04,2015-11-25 09:43:44,2015-11-26 10:34:30,2015-11-27 10:15:10,2015-11-30 09:46:46,2015-12-01 09:56:22,2015-12-02 09:55:43,2015-12-03 10:05:37,2015-12-04 10:02:05,2015-12-07 09:36:05,2015-12-08 10:01:21,2015-12-09 09:49:23,2015-12-10 10:06:05,2015-12-11 10:15:18,2015-12-14 10:00:01,2015-12-15 10:30:18,2015-12-16 10:01:18,2015-12-17 09:15:08,2015-12-18 10:37:17,2015-12-21 09:49:02,2015-12-22 10:33:51,2015-12-23 10:12:10,NaN,2015-12-28 09:31:45,2015-12-29 09:55:49,2015-12-30 10:32:25,2015-12-31 09:27:20
2,3,2015-01-02 10:17:41,2015-01-05 09:50:50,2015-01-06 10:14:13,2015-01-07 09:47:27,2015-01-08 10:03:40,2015-01-09 10:05:49,2015-01-12 10:03:47,2015-01-13 10:21:26,2015-01-15 09:55:11,2015-01-16 10:05:36,2015-01-19 09:47:53,2015-01-20 09:57:09,2015-01-21 10:29:40,2015-01-22 09:59:11,2015-01-23 10:16:34,2015-01-27 10:07:30,2015-01-28 10:05:43,2015-01-29 10:06:48,2015-01-30 10:14:36,2015-02-02 09:54:45,2015-02-03 09:27:11,2015-02-04 10:04:03,2015-02-05 10:08:11,2015-02-06 10:23:51,2015-02-09 10:08:43,2015-02-10 10:26:18,2015-02-11 10:02:13,2015-02-12 09:55:10,2015-02-13 10:32:34,2015-02-16 10:18:43,2015-02-17 10:04:54,2015-02-18 10:16:19,2015-02-19 09:47:19,2015-02-20 10:20:51,2015-02-23 10:14:02,2015-02-24 10:23:28,2015-02-25 09:59:06,2015-02-26 10:01:22,2015-02-27 09:57:26,2015-03-02 10:02:38,2015-03-03 10:07:45,2015-03-04 10:15:26,2015-03-06 09:48:49,2015-03-09 10:17:45,2015-03-10 09:46:10,2015-03-11 10:26:39,2015-03-12 09:56:28,2015-03-13 09:36:23,2015-03-16 10:07:30,2015-03-17 10:00:43,2015-03-18 10:20:10,2015-03-19 09:54:40,NaN,2015-03-23 10:04:28,2015-03-24 10:18:38,2015-03-25 09:43:22,2015-03-26 09:37:02,NaN,2015-03-30 09:54:55,2015-03-31 10:00:57,2015-04-01 09:52:42,2015-04-02 10:24:02,2015-04-03 10:01:42,2015-04-06 09:33:15,2015-04-07 10:13:13,2015-04-08 10:38:41,2015-04-09 10:17:34,2015-04-10 10:28:08,2015-04-13 10:14:55,2015-04-14 09:29:50,2015-04-15 10:06:52,2015-04-16 09:46:13,2015-04-17 10:16:08,2015-04-20 09:36:16,2015-04-21 10:07:10,2015-04-22 09:56:42,NaN,2015-04-24 10:10:15,2015-04-27 09:29:29,2015-04-28 10:01:45,2015-04-29 09:54:28,2015-04-30 09:40:30,2015-05-04 09:55:15,2015-05-05 09:53:50,2015-05-06 10:20:45,2015-05-07 09:49:38,2015-05-08 10:21:01,2015-05-11 09:47:03,2015-05-12 09:39:48,2015-05-13 09:50:23,2015-05-14 09:45:22,2015-05-15 09:48:59,2015-05-18 10:03:24,2015-05-19 09:40:26,2015-05-20 09:40:20,2015-05-21 09:37:39,2015-05-22 10:04:08,2015-05-25 10:06:54,2015-05-26 10:28:05,2015-05-27 10:14:07,2015-05-28 10:13:25,2015-05-29 10:08:23,2015-06-01 09:57:32,2015-06-02 09:58:49,2015-06-03 10:03:00,2015-06-04 09:32:13,2015-06-05 09:43:51,2015-06-08 09:31:20,2015-06-09 09:49:58,2015-06-10 10:14:49,2015-06-11 10:07:21,2015-06-12 10:10:53,2015-06-15 09:52:17,2015-06-16 09:33:01,2015-06-17 09:50:53,2015-06-18 10:01:04,2015-06-19 09:47:22,2015-06-22 09:52:10,2015-06-23 09:44:50,NaN,2015-06-25 10:10:41,2015-06-26 10:02:07,2015-06-29 09:33:13,2015-06-30 10:13:47,2015-07-01 10:07:56,2015-07-02 10:26:28,2015-07-03 09:40:28,2015-07-06 10:02:42,2015-07-07 10:50:49,2015-07-08 09:56:24,2015-07-09 10:08:14,2015-07-10 09:58:44,2015-07-13 09:59:18,2015-07-14 09:54:55,2015-07-15 09:42:13,2015-07-16 10:00:16,2015-07-20 10:12:37,2015-07-21 09:39:36,2015-07-22 09:50:19,2015-07-23 10:27:02,2015-07-24 09:58:29,2015-07-27 10:11:51,2015-07-28 09:44:58,2015-07-29 10:29:58,2015-07-30 10:27:08,2015-07-31 09:32:14,2015-08-03 09:49:21,2015-08-04 09:37:19,NaN,2015-08-06 10:00:11,2015-08-07 09:36:58,2015-08-10 09:51:11,2015-08-11 09:49:26,2015-08-12 10:26:18,2015-08-13 10:12:57,2015-08-14 09:51:22,2015-08-17 09:59:35,2015-08-18 09:57:40,2015-08-19 10:06:09,2015-08-20 10:09:06,2015-08-21 10:28:51,2015-08-24 10:04:52,2015-08-25 10:09:53,2015-08-26 10:26:55,2015-08-27 09:08:23,2015-08-28 10:07:20,2015-08-31 09:44:35,2015-09-01 09:51:52,2015-09-02 09:52:28,2015-09-03 10:05:51,2015-09-04 10:11:53,2015-09-07 09:28:00,2015-09-08 09:38:21,2015-09-09 09:45:09,2015-09-10 09:49:52,2015-09-11 09:57:16,2015-09-14 10:27:59,2015-09-15 10:11:20,2015-09-16 09:55:26,2015-09-18 09:54:29,2015-09-21 09:29:30,2015-09-22 09:35:39,2015-09-23 09:56:54,2015-09-24 10:31:35,2015-09-25 09:40:55,2015-09-28 09:55:28,2015-09-29 10:25:49,2015-09-30 10:11:02,2015-10-01 09:58:27,2015-10-05 10:10:21,2015-10-06 09:56:07,2015-10-07 10:09:43,2015-10-08 09:46:36,2015-10-09 10:00:44,2015-10-12 10:14:10,2015-10-13 10:22:14,2015-10-14 10:20:42,2015-10-15 10:12:05,2015-10-16 09:41:55,2015-10-19 10:03:40,2015-10-20 10:02:12,2015-10-21 10:52:27,2015-10-22 10:10:44,2015-10-23 10:08:37,2015-10-26 10:29:26,2015-10-27 09:48:57,2015-10-28 09:54:52,2015-10-29 09:47:27,2015-10-30 09:51:47,2015-11-02 09:54:18,2015-11-03 09:52:40,2015-11-04 10:19:14,2015-11-05 10:23:27,2015-11-06 10:06:29,2015-11-12 10:14:47,2015-11-13 09:43:37,2015-11-16 10:02:56,2015-11-17 09:51:38,2015-11-18 10:12:13,2015-11-19 10:08:46,2015-11-20 10:06:39,2015-11-23 10:02:01,2015-11-24 09:53:52,2015-11-25 10:16:19,2015-11-26 10:07:02,NaN,2015-11-30 10:01:33,2015-12-01 10:02:52,2015-12-02 10:10:34,2015-12-03 10:18:25,2015-12-04 10:06:40,2015-12-07 10:21:09,2015-12-08 09:59:19,2015-12-09 10:17:28,NaN,2015-12-11 09:49:55,2015-12-14 09:42:31,2015-12-15 09:54:48,2015-12-16 09:48:34,2015-12-17 09:53:17,2015-12-18 10:15:14,2015-12-21 10:10:28,2015-12-22 09:44:44,2015-12-23 10:15:54,2015-12-24 10:07:26,2015-12-28 09:42:05,2015-12-29 09:43:36,2015-12-30 09:34:05,2015-12-31 10:28:39

In [50]:
# replace individual days that have NaN with 0 ( for future calculations)

In [51]:
total_time.fillna(0, inplace= True)
total_time

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,Unnamed: 0,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-15,2015-01-16,2015-01-19,2015-01-20,2015-01-21,2015-01-22,2015-01-23,2015-01-27,2015-01-28,2015-01-29,2015-01-30,2015-02-02,2015-02-03,2015-02-04,2015-02-05,2015-02-06,2015-02-09,2015-02-10,2015-02-11,2015-02-12,2015-02-13,2015-02-16,2015-02-17,2015-02-18,2015-02-19,2015-02-20,2015-02-23,2015-02-24,2015-02-25,2015-02-26,2015-02-27,2015-03-02,2015-03-03,2015-03-04,2015-03-06,2015-03-09,2015-03-10,2015-03-11,2015-03-12,2015-03-13,2015-03-16,2015-03-17,2015-03-18,2015-03-19,2015-03-20,2015-03-23,2015-03-24,2015-03-25,2015-03-26,2015-03-27,2015-03-30,2015-03-31,2015-04-01,2015-04-02,2015-04-03,2015-04-06,2015-04-07,2015-04-08,2015-04-09,2015-04-10,2015-04-13,2015-04-14,2015-04-15,2015-04-16,2015-04-17,2015-04-20,2015-04-21,2015-04-22,2015-04-23,2015-04-24,2015-04-27,2015-04-28,2015-04-29,2015-04-30,2015-05-04,2015-05-05,2015-05-06,2015-05-07,2015-05-08,2015-05-11,2015-05-12,2015-05-13,2015-05-14,2015-05-15,2015-05-18,2015-05-19,2015-05-20,2015-05-21,2015-05-22,2015-05-25,2015-05-26,2015-05-27,2015-05-28,2015-05-29,2015-06-01,2015-06-02,2015-06-03,2015-06-04,2015-06-05,2015-06-08,2015-06-09,2015-06-10,2015-06-11,2015-06-12,2015-06-15,2015-06-16,2015-06-17,2015-06-18,2015-06-19,2015-06-22,2015-06-23,2015-06-24,2015-06-25,2015-06-26,2015-06-29,2015-06-30,2015-07-01,2015-07-02,2015-07-03,2015-07-06,2015-07-07,2015-07-08,2015-07-09,2015-07-10,2015-07-13,2015-07-14,2015-07-15,2015-07-16,2015-07-20,2015-07-21,2015-07-22,2015-07-23,2015-07-24,2015-07-27,2015-07-28,2015-07-29,2015-07-30,2015-07-31,2015-08-03,2015-08-04,2015-08-05,2015-08-06,2015-08-07,2015-08-10,2015-08-11,2015-08-12,2015-08-13,2015-08-14,2015-08-17,2015-08-18,2015-08-19,2015-08-20,2015-08-21,2015-08-24,2015-08-25,2015-08-26,2015-08-27,2015-08-28,2015-08-31,2015-09-01,2015-09-02,2015-09-03,2015-09-04,2015-09-07,2015-09-08,2015-09-09,2015-09-10,2015-09-11,2015-09-14,2015-09-15,2015-09-16,2015-09-18,2015-09-21,2015-09-22,2015-09-23,2015-09-24,2015-09-25,2015-09-28,2015-09-29,2015-09-30,2015-10-01,2015-10-05,2015-10-06,2015-10-07,2015-10-08,2015-10-09,2015-10-12,2015-10-13,2015-10-14,2015-10-15,2015-10-16,2015-10-19,2015-10-20,2015-10-21,2015-10-22,2015-10-23,2015-10-26,2015-10-27,2015-10-28,2015-10-29,2015-10-30,2015-11-02,2015-11-03,2015-11-04,2015-11-05,2015-11-06,2015-11-12,2015-11-13,2015-11-16,2015-11-17,2015-11-18,2015-11-19,2015-11-20,2015-11-23,2015-11-24,2015-11-25,2015-11-26,2015-11-27,2015-11-30,2015-12-01,2015-12-02,2015-12-03,2015-12-04,2015-12-07,2015-12-08,2015-12-09,2015-12-10,2015-12-11,2015-12-14,2015-12-15,2015-12-16,2015-12-17,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,2015-01-02 09:43:45,2015-01-05 10:08:48,2015-01-06 09:54:26,2015-01-07 09:34:31,2015-01-08 09:51:09,2015-01-09 10:09:25,2015-01-12 09:42:53,2015-01-13 10:13:06,2015-01-15 10:01:24,2015-01-16 10:19:08,0,2015-01-20 09:50:34,2015-01-21 09:49:42,2015-01-22 09:47:45,2015-01-23 09:23:44,2015-01-27 09:50:37,2015-01-28 09:56:13,2015-01-29 09:53:47,2015-01-30 10:09:26,2015-02-02 09:38:43,2015-02-03 10:23:38,2015-02-04 09:48:37,2015-02-05 09:52:36,2015-02-06 09:53:23,2015-02-09 10:01:45,2015-02-10 10:14:18,2015-02-11 10:18:44,2015-02-12 10:10:35,2015-02-13 09:13:07,2015-02-16 10:14:02,2015-02-17 10:03:08,2015-02-18 10:23:06,0,2015-02-20 09:54:56,2015-02-23 09:46:59,2015-02-24 10:11:18,2015-02-25 09:52:36,2015-02-26 09:56:33,2015-02-27 09:58:46,2015-03-02 10:19:43,2015-03-03 10:08:37,2015-03-04 10:05:38,2015-03-06 09:55:53,2015-03-09 10:28:34,2015-03-10 09:47:30,2015-03-11 09:48:59,2015-03-12 10:10:51,2015-03-13 10:07:18,0,2015-03-17 10:05:22,2015-03-18 10:28:21,2015-03-19 10:01:52,2015-03-20 10:37:49,2015-03-23 10:11:19,2015-03-24 10:33:19,2015-03-25 09:41:35,0,2015-03-27 09:47:30,2015-03-30 10:11:44,2015-03-31 10:08:13,2015-04-01 10:12:37,2015-04-02 09:45:27,2015-04-03 10:00:30,2015-04-06 09:40:19,2015-04-07 10:16:43,2015-04-08 10:04:34,2015-04-09 09:21:27,2015-04-10 09:46:25,2015-04-13 09:39:30,2015-04-14 09:58:48,2015-04-15 09:55:56,2015-04-16 09:46:07,2015-04-17 09:54:13,2015-04-20 10:03:25,2015-04-21 09:50:41,2015-04-22 09:56:16,2015-04-23 10:12:42,2015-04-24 10:05:40,2015-04-27 10:12:01,2015-04-28 09:57:24,2015-04-29 09:46:15,2015-04-30 09:48:30,2015-05-04 09:40:52,2015-05-05 09:54:59,2015-05-06 09:49:06,2015-05-07 10:06:47,2015-05-08 09:55:02,0,2015-05-12 09:50:17,2015-05-13 10:24:03,2015-05-14 09:50:43,2015-05-15 09:55:32,0,2015-05-19 09:49:06,2015-05-20 10:00:39,2015-05-21 09:53:15,2015-05-22 10:19:44,2015-05-25 10:15:25,2015-05-26 10:17:01,2015-05-27 09:41:25,2015-05-28 09:57:00,0,0,2015-06-02 10:20:49,2015-06-03 09:47:19,2015-06-04 10:23:40,0,2015-06-08 10:17:56,0,2015-06-10 09:54:33,2015-06-11 09:47:09,2015-06-12 10:13:55,2015-06-15 09:50:19,2015-06-16 09:59:04,2015-06-17 09:46:15,2015-06-18 10:03:15,2015-06-19 10:06:21,2015-06-22 09:48:40,2015-06-23 09:56:55,2015-06-24 09:59:40,2015-06-25 09:52:01,2015-06-26 10:07:58,2015-06-29 10:01:19,2015-06-30 10:27:40,2015-07-01 09:39:02,2015-07-02 10:07:33,2015-07-03 09:59:57,2015-07-06 09:37:06,2015-07-07 10:08:17,2015-07-08 09:56:30,2015-07-09 09:21:57,2015-07-10 09:43:31,2015-07-13 10:07:21,2015-07-14 10:06:39,2015-07-15 09:54:34,2015-07-16 10:22:47,2015-07-20 10:25:50,2015-07-21 09:48:05,2015-07-22 09:52:29,2015-07-23 10:04:42,2015-07-24 09:34:15,2015-07-27 09:56:24,2015-07-28 10:19:57,2015-07-29 09:48:10,2015-07-30 09:52:24,2015-07-31 10:11:14,2015-08-03 10:03:33,2015-08-04 09:59:34,2015-08-05 09:50:51,2015-08-06 09:56:52,2015-08-07 09:51:30,2015-08-10 10:12:23,2015-08-11 10:08:29,2015-08-12 09:39:08,2015-08-13 09:47:09,2015-08-14 10:00:21,2015-08-17 09:24:23,2015-08-18 10:25:27,2015-08-19 10:14:41,2015-08-20 09:57:56,2015-08-21 10:07:11,2015-08-24 10:07:49,2015-08-25 09:47:59,2015-08-26 09:53:49,2015-08-27 10:16:21,2015-08-28 09:53:47,2015-08-31 10:08:07,0,2015-09-02 10:37:59,2015-09-03 09:41:16,2015-09-04 10:11:00,2015-09-07 10:17:58,2015-09-08 10:31:57,2015-09-09 10:28:33,2015-09-10 09:54:28,2015-09-11 10:02:49,2015-09-14 10:15:40,2015-09-15 10:26:09,2015-09-16 10:11:03,2015-09-18 10:16:06,2015-09-21 09:48:01,2015-09-22 10:34:52,2015-09-23 10:03:15,2015-09-24 10:00:12,2015-09-25 10:00:00,2015-09-28 09:28:45,2015-09-29 09:51:58,2015-09-30 09:52:41,2015-10-01 10:05:28,2015-10-05 10:02:00,2015-10-06 09:48:24,2015-10-07 09:32:05,2015-10-08 09:39:01,2015-10-09 09:33:40,2015-10-12 10:14:36,0,2015-10-14 10:19:43,2015-10-15 10:19:51,2015-10-16 09:50:41,2015-10-19 09:55:08,2015-10-20 10:00:37,0,0,2015-10-23 10:03:33,2015-10-26 09:51:07,2015-10-27 09:25:10,2015-10-28 09:50:30,2015-10-29 09:50:22,2015-10-30 09:51:07,2015-11-02 10:01:58,2015-11-03 10:28:53,2015-11-04 09:47:00,2015-11-05 10:24:57,2015-11-06 10:15:27,2015-11-12 10:02:34,2015-11-13 09:29:49,2015-11-16 10:16:02,2015-11-17 09:57:23,2015-11-18 10:13:24,2015-11-19 09:46:48,2015-11-20 10:09:35,2015-11-23 09:54:17,2015-11-24 10:02:07,2015-11-25 10:01:51,2015-11-26 10:18:45,2015-11-27 10:24:49,2015-11-30 10:04:24,2015-12-01 09:31:27,2015-12-02 09:57:52,2015-12-03 10:05:55,2015-12-04 09:55:09,2015-12-07 09:28:15,2015-12-08 09:54:56,2015-12-09 09:51:52,2015-12-10 09:40:25,2015-12-11 09:46:49,2015-12-14 10:03:33,0,2015-12-16 10:21:19,0,0,2015-12-21 09:55:29,2015-12-22 10:04:06,2015-12-23 10:14:27,2015-12-24 10:11:35,2015-12-28 10:13:41,2015-12-29 10:03:36,2015-12-30 09:54:12,2015-12-31 10:12:44
1,2,2015-01-02 10:15:44,2015-01-05 10:21:05,0,2015-01-07 09:45:17,2015-01-08 10:09:04,2015-01-09 09:43:26,2015-01-12 10:00:07,2015-01-13 10:43:29,2015-01-15 09:37:57,2015-01-16 09:57:18,2015-01-19 10:23:43,2015-01-20 09:29:03,2015-01-21 09:46:45,2015-01-22 10:03:51,2015-01-23 09:20:06,2015-01-27 10:07:48,2015-01-28 10:08:25,2015-01-29 09:52:04,2015-01-30 09:49:49,2015-02-02 10:07:26,2015-02-03 09:55:45,2015-02-04 10:25:41,2015-02-05 10:05:11,2015-02-06 09:12:39,0,2015-02-10 10:10:13,2015-02-11 09:40:20,2015-02-12 10:10:09,2015-02-13 09:35:25,2015-02-16 10:04:12,2015-02-17 09:45:05,2015-02-18 09:54:42,2015-02-19 10:11:49,2015-02-20 10:06:18,2015-02-23 09:41:58,2015-02-24 09:44:22,2015-02-25 09:58:39,2015-02-26 09:59:07,2015-02-27 10:31:41,2015-03-02 09:55:43,2015-03-03 10:31:20,2015-03-04 09:56:59,2015-03-06 10:01:10,2015-03-09 10:02:33,2015-03-10 09:32:40,2015-03-11 09:57:02,2015-03-12 09:59:32,2015-03-13 09:59:14,2015-03-16 09:56:19,2015-03-17 09:36:08,2015-03-18 10:00:32,2015-03-19 09:46:51,2015-03-20 10:06:06,2015-03-23 10:02:02,0,2015-03-25 10:03:04,2015-03-26 09:52:38,2015-03-27 10:02:55,2015-03-30 10:04:24,2015-03-31 10:30:25,2015-04-01 09:46:24,2015-04-02 09:53:55,2015-04-03 10:30:21,2015-04-06 10:18:14,2015-04-07 10:22:22,2015-04-08 09:46:42,2015-04-09 10:02:22,2015-04-10 09:47:56,2015-04-13 09:33:46,2015-04-14 09:50:19,2015-04-15 10:06:41,2015-04-16 10:07:24,2015-04-17 09:40:35,2015-04-20 10:04:05,2015-04-21 10:21:53,2015-04-22 09:40:33,2015-04-23 10:06:54,2015-04-24 10:10:19,2015-04-27 09:33:44,2015-04-28 09:52:51,0,2015-04-30 10:14:03,2015-05-04 09:53:54,2015-05-05 10:25:20,2015-05-06 09:46:04,2015-05-07 09:49:37,2015-05-08 09:56:40,2015-05-11 09:58:30,2015-05-12 09:44:55,2015-05-13 10:06:35,0,2015-05-15 09:43:03,0,2015-05-19 09:48:05,2015-05-20 10:18:00,2015-05-21 09:42:47,2015-05-22 10:37:50,2015-05-25 09:46:03,2015-05-26 09:42:16,2015-05-27 09:53:20,2015-05-28 09:54:58,2015-05-29 09:52:45,2015-06-01 09:54:45,2015-06-02 09:57:56,2015-06-03 10:10:48,2015-06-04 09:31:48,2015-06-05 10:06:28,2015-06-08 09:45:19,2015-06-09 09:59:08,2015-06-10 09:39:05,2015-06-11 09:55:03,0,2015-06-15 09:45:02,2015-06-16 10:15:23,2015-06-17 09:52:23,2015-06-18 09:55:27,2015-06-19 10:13:33,2015-06-22 09:48:24,2015-06-23 09:59:12,2015-06-24 10:27:17,2015-06-25 10:12:33,2015-06-26 09:55:00,2015-06-29 10:02:27,2015-06-30 10:13:31,2015-07-01 09:45:31,2015-07-02 10:04:21,2015-07-03 10:00:01,2015-07-06 10:10:37,2015-07-07 10:29:29,2015-07-08 09:38:19,2015-07-09 10:21:59,2015-07-10 10:30:44,0,2015-07-14 10:35:52,2015-07-15 09:47:06,2015-07-16 09:59:13,2015-07-20 10:18:08,2015-07-21 10:23:11,2015-07-22 09:32:15,2015-07-23 09:40:12,2015-07-24 10:15:22,0,2015-07-28 10:16:14,2015-07-29 09:58:33,2015-07-30 09:57:10,2015-07-31 10:15:38,2015-08-03 09:58:28,2015-08-04 10:17:10,2015-08-05 09:38:46,2015-08-06 10:16:03,2015-08-07 09:52:22,2015-08-10 09:37:38,2015-08-11 09:54:35,2015-08-12 09:27:52,2015-08-13 09:50:57,2015-08-14 09:38:27,2015-08-17 09:52:16,2015-08-18 09:34:06,2015-08-19 09:43:02,2015-08-20 10:16:38,2015-08-21 10:07:18,2015-08-24 09:36:46,2015-08-25 09:42:22,2015-08-26 10:15:22,2015-08-27 10:11:04,2015-08-28 09:50:51,2015-08-31 10:23:10,2015-09-01 10:23:47,2015-09-02 09:57:01,2015-09-03 09:56:07,2015-09-04 10:33:03,2015-09-07 09:58:33,0,2015-09-09 10:17:43,2015-09-10 10:28:40,2015-09-11 09:58:20,2015-09-14 09:43:25,2015-09-15 09:25:53,2015-09-16 09:26:29,2015-09-18 10:27:07,2015-09-21 10:03:31,2015-09-22 09:35:23,2015-09-23 10:12:56,2015-09-24 10:02:52,2015-09-25 09:37:12,2015-09-28 10:11:06,2015-09-29 10:00:31,2015-09-30 10:22:56,2015-10-01 10:08:29,2015-10-05 10:02:26,2015-10-06 10:08:57,2015-10-07 10:10:19,2015-10-08 10:04:03,2015-10-09 09:40:41,2015-10-12 10:11:30,2015-10-13 10:14:39,2015-10-14 10:10:48,0,2015-10-16 10:20:19,2015-10-19 10:04:13,2015-10-20 09:39:10,2015-10-21 09:47:15,2015-10-22 09:56:54,2015-10-23 09:53:38,2015-10-26 09:49:43,2015-10-27 10:29:20,2015-10-28 09:47:39,2015-10-29 09:52:02,2015-10-30 09:47:37,2015-11-02 10:04:45,2015-11-03 09:36:03,2015-11-04 09:58:34,2015-11-05 09:50:08,2015-11-06 10:02:38,2015-11-12 09:54:47,2015-11-13 09:26:10,2015-11-16 10:22:00,2015-11-17 09:26:04,2015-11-18 10:10:39,0,2015-11-20 10:01:09,2015-11-23 09:51:11,2015-11-24 09:19:04,2015-11-25 09:43:44,2015-11-26 10:34:30,2015-11-27 10:15:10,2015-11-30 09:46:46,2015-12-01 09:56:22,2015-12-02 09:55:43,2015-12-03 10:05:37,2015-12-04 10:02:05,2015-12-07 09:36:05,2015-12-08 10:01:21,2015-12-09 09:49:23,2015-12-10 10:06:05,2015-12-11 10:15:18,2015-12-14 10:00:01,2015-12-15 10:30:18,2015-12-16 10:01:18,2015-12-17 09:15:08,2015-12-18 10:37:17,2015-12-21 09:49:02,2015-12-22 10:33:51,2015-12-23 10:12:10,0,2015-12-28 09:31:45,2015-12-29 09:55:49,2015-12-30 10:32:25,2015-12-31 09:27:20
2,3,2015-01-02 10:17:41,2015-01-05 09:50:50,2015-01-06 10:14:13,2015-01-07 09:47:27,2015-01-08 10:03:40,2015-01-09 10:05:49,2015-01-12 10:03:47,2015-01-13 10:21:26,2015-01-15 09:55:11,2015-01-16 10:05:36,2015-01-19 09:47:53,2015-01-20 09:57:09,2015-01-21 10:29:40,2015-01-22 09:59:11,2015-01-23 10:16:34,2015-01-27 10:07:30,2015-01-28 10:05:43,2015-01-29 10:06:48,2015-01-30 10:14:36,2015-02-02 09:54:45,2015-02-03 09:27:11,2015-02-04 10:04:03,2015-02-05 10:08:11,2015-02-06 10:23:51,2015-02-09 10:08:43,2015-02-10 10:26:18,2015-02-11 10:02:13,2015-02-12 09:55:10,2015-02-13 10:32:34,2015-02-16 10:18:43,2015-02-17 10:04:54,2015-02-18 10:16:19,2015-02-19 09:47:19,2015-02-20 10:20:51,2015-02-23 10:14:02,2015-02-24 10:23:28,2015-02-25 09:59:06,2015-02-26 10:01:22,2015-02-27 09:57:26,2015-03-02 10:02:38,2015-03-03 10:07:45,2015-03-04 10:15:26,2015-03-06 09:48:49,2015-03-09 10:17:45,2015-03-10 09:46:10,2015-03-11 10:26:39,2015-03-12 09:56:28,2015-03-13 09:36:23,2015-03-16 10:07:30,2015-03-17 10:00:43,2015-03-18 10:20:10,2015-03-19 09:54:40,0,2015-03-23 10:04:28,2015-03-24 10:18:38,2015-03-25 09:43:22,2015-03-26 09:37:02,0,2015-03-30 09:54:55,2015-03-31 10:00:57,2015-04-01 09:52:42,2015-04-02 10:24:02,2015-04-03 10:01:42,2015-04-06 09:33:15,2015-04-07 10:13:13,2015-04-08 10:38:41,2015-04-09 10:17:34,2015-04-10 10:28:08,2015-04-13 10:14:55,2015-04-14 09:29:50,2015-04-15 10:06:52,2015-04-16 09:46:13,2015-04-17 10:16:08,2015-04-20 09:36:16,2015-04-21 10:07:10,2015-04-22 09:56:42,0,2015-04-24 10:10:15,2015-04-27 09:29:29,2015-04-28 10:01:45,2015-04-29 09:54:28,2015-04-30 09:40:30,2015-05-04 09:55:15,2015-05-05 09:53:50,2015-05-06 10:20:45,2015-05-07 09:49:38,2015-05-08 10:21:01,2015-05-11 09:47:03,2015-05-12 09:39:48,2015-05-13 09:50:23,2015-05-14 09:45:22,2015-05-15 09:48:59,2015-05-18 10:03:24,2015-05-19 09:40:26,2015-05-20 09:40:20,2015-05-21 09:37:39,2015-05-22 10:04:08,2015-05-25 10:06:54,2015-05-26 10:28:05,2015-05-27 10:14:07,2015-05-28 10:13:25,2015-05-29 10:08:23,2015-06-01 09:57:32,2015-06-02 09:58:49,2015-06-03 10:03:00,2015-06-04 09:32:13,2015-06-05 09:43:51,2015-06-08 09:31:20,2015-06-09 09:49:58,2015-06-10 10:14:49,2015-06-11 10:07:21,2015-06-12 10:10:53,2015-06-15 09:52:17,2015-06-16 09:33:01,2015-06-17 09:50:53,2015-06-18 10:01:04,2015-06-19 09:47:22,2015-06-22 09:52:10,2015-06-23 09:44:50,0,2015-06-25 10:10:41,2015-06-26 10:02:07,2015-06-29 09:33:13,2015-06-30 10:13:47,2015-07-01 10:07:56,2015-07-02 10:26:28,2015-07-03 09:40:28,2015-07-06 10:02:42,2015-07-07 10:50:49,2015-07-08 09:56:24,2015-07-09 10:08:14,2015-07-10 09:58:44,2015-07-13 09:59:18,2015-07-14 09:54:55,2015-07-15 09:42:13,2015-07-16 10:00:16,2015-07-20 10:12:37,2015-07-21 09:39:36,2015-07-22 09:50:19,2015-07-23 10:27:02,2015-07-24 09:58:29,2015-07-27 10:11:51,2015-07-28 09:44:58,2015-07-29 10:29:58,2015-07-30 10:27:08,2015-07-31 09:32:14,2015-08-03 09:49:21,2015-08-04 09:37:19,0,2015-08-06 10:00:11,2015-08-07 09:36:58,2015-08-10 09:51:11,2015-08-11 09:49:26,2015-08-12 10:26:18,2015-08-13 10:12:57,2015-08-14 09:51:22,2015-08-17 09:59:35,2015-08-18 09:57:40,2015-08-19 10:06:09,2015-08-20 10:09:06,2015-08-21 10:28:51,2015-08-24 10:04:52,2015-08-25 10:09:53,2015-08-26 10:26:55,2015-08-27 09:08:23,2015-08-28 10:07:20,2015-08-31 09:44:35,2015-09-01 09:51:52,2015-09-02 09:52:28,2015-09-03 10:05:51,2015-09-04 10:11:53,2015-09-07 09:28:00,2015-09-08 09:38:21,2015-09-09 09:45:09,2015-09-10 09:49:52,2015-09-11 09:57:16,2015-09-14 10:27:59,2015-09-15 10:11:20,2015-09-16 09:55:26,2015-09-18 09:54:29,2015-09-21 09:29:30,2015-09-22 09:35:39,2015-09-23 09:56:54,2015-09-24 10:31:35,2015-09-25 09:40:55,2015-09-28 09:55:28,2015-09-29 10:25:49,2015-09-30 10:11:02,2015-10-01 09:58:27,2015-10-05 10:10:21,2015-10-06 09:56:07,2015-10-07 10:09:43,2015-10-08 09:46:36,2015-10-09 10:00:44,2015-10-12 10:14:10,2015-10-13 10:22:14,2015-10-14 10:20:42,2015-10-15 10:12:05,2015-10-16 09:41:55,2015-10-19 10:03:40,2015-10-20 10:02:12,2015-10-21 10:52:27,2015-10-22 10:10:44,2015-10-23 10:08:37,2015-10-26 10:29:26,2015-10-27 09:48:57,2015-10-28 09:54:52,2015-10-29 09:47:27,2015-10-30 09:51:47,2015-11-02 09:54:18,2015-11-03 09:52:40,2015-11-04 10:19:14,2015-11-05 10:23:27,2015-11-06 10:06:29,2015-11-12 10:14:47,2015-11-13 09:43:37,2015-11-16 10:02:56,2015-11-17 09:51:38,2015-11-18 10:12:13,2015-11-19 10:08:46,2015-11-20 10:06:39,2015-11-23 10:02:01,2015-11-24 09:53:52,2015-11-25 10:16:19,2015-11-26 10:07:02,0,2015-11-30 10:01:33,2015-12-01 10:02:52,2015-12-02 10:10:34,2015-12-03 10:18:25,2015-12-04 10:06:40,2015-12-07 10:21:09,2015-12-08 09:59:19,2015-12-09 10:17:28,0,2015-12-11 09:49:55,2015-12-14 09:42:31,2015-12-15 09:54:48,2015-12-16 09:48:34,2015-12-17 09:53:17,2015-12-18 10:15:14,2015-12-21 10:10:28,2015-12-22 09:44:44,2015-12-23 10:15:54,2015-12-24 10:07:26,2015-12-28 09:42:05,2015-12-29 09:43:36,2015-12-30 09:34:05,2015-12-31 10:28:39

In [52]:
## Convert to datatime format

In [53]:
total_time.iloc[:,1:]= total_time.iloc[:,1:].apply(pd.to_datetime, errors='coerce')

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1851: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)

In [ ]:
total_time

In [ ]:
total_time = total_time.diff(periods=4410)

In [ ]:
total_time = total_time.iloc[4410:]

In [ ]:
total_time

In [ ]:
total_time.reset_index(inplace=True)

In [ ]:
total_time

In [ ]:
total_time.drop(columns=['index','Unnamed: 0'],axis=1,inplace=True)

In [ ]:
total_time.head()

In [ ]:
total_time['mean_time'] = total_time.mean(axis=1)

In [ ]:
total_time

In [ ]:
# convert mean time into hours
total_time.mean_time = total_time.mean_time.apply(lambda x : int(str(x).split(' ')[2].split(':')[0]) + int(str(x).split(' ')[2].split(':')[1])/60 + float(str(x).split(' ')[2].split(':')[2])/3600)
total_time.index = range(1,len(total_time)+1)

In [ ]:
total_time.reset_index(inplace=True)

In [ ]:
total_time

In [ ]:
total_time.index = range(1,len(total_time)+1)

In [ ]:
# Rename index as emID to add the general data set
total_time = total_time.rename(columns = {'index' : 'employeeid'})

In [ ]:
# Overwrite totalt only with the columns we need for general
total_time = total_time[['employeeid','mean_time']]

In [ ]:
general = pd.merge(general, total_time, on = 'employeeid', how = 'inner')

In [ ]:
general

In [ ]:
general.to_csv('Data/general_hr_data.csv')

## Data Distribution

In [ ]:
general['businesstravel'].value_counts()

In [ ]:
general['department'].value_counts()

In [ ]:
general['distancefromhome'].value_counts()

In [ ]:
general['education'].value_counts()

In [ ]:
sns.histplot(general['mean_time'])

In [ ]:
general['educationfield'].value_counts()

In [ ]:
general['joblevel'].value_counts()

In [ ]:
general['jobrole'].value_counts()

In [ ]:
general['maritalstatus'].value_counts()

In [ ]:
general['monthlyincome'].sort_values(ascending= False)

In [ ]:
sns.histplot(general['monthlyincome'],bins= 10)

In [ ]:
general['numcompaniesworked'].value_counts()

In [ ]:
general['percentsalaryhike'].value_counts()

In [ ]:
sns.histplot(general['percentsalaryhike'],bins= 15)

In [ ]:
general['stockoptionlevel'].value_counts()

In [ ]:
general['totalworkingyears'].value_counts()

In [ ]:
general['trainingtimeslastyear'].value_counts()

In [ ]:
general['yearsatcompany'].value_counts()

In [ ]:
sns.histplot(general['yearsatcompany'],bins= 15)

In [ ]:
general['yearssincelastpromotion'].value_counts()

In [ ]:
sns.histplot(general['yearssincelastpromotion'],bins= 14)

In [ ]:
general['yearswithcurrmanager'].value_counts()

In [ ]:
general['environmentsatisfaction'].value_counts()

In [ ]:
sns.histplot(general['environmentsatisfaction'])

In [ ]:
sns.histplot(general['jobsatisfaction'])

In [ ]:
general['worklifebalance'].value_counts()

In [ ]:
sns.histplot(general['worklifebalance'])

In [ ]:
sns.histplot(general['jobinvolvement'])

In [ ]:
sns.histplot(general['performancerating'])

In [ ]:
general['performancerating'].value_counts()

In [ ]:
sns.histplot(general['mean_time'])

In [ ]:
plt.figure(figsize=(35,30))
for i, column in enumerate(general.columns,1):
    plt.subplot(9,3,i)
    sns.histplot(general[column])

- Majority of employee travel rarely.
- Majority of employees are in research and development.
- Majority of employees live within 2KM from the office (skewed on the left).
- Majority of employees have a BA. Almost normal distribution.
- Majority of employees are in Life Sciences and Medical education field.
- Majority of employees are male. Female are ca. <40% less.
- Majority of employees are in joblevel 1 and 2.
- Majority of employees are Sales Executive and Research Scientist.
- Majority of employees are married.
- Monthly income: log normal on the left --> what about clustering it?
- Majority of employees worked in 1 company before. log normal on the left
- Majority of employees had an increase >11% =< 14%on the income (percentsalaryhike)
- Majority of employees do not have stock option of the company. --> more on stock option?
- totalworkingyears skewed on the lft --> to be normalized
- Majority of employees received two training sessions
- Majority of employees are working at the company > 0 < 5.5 years 
- Year since last promotion: biggest group employees with no promotion and second largest group employees got promoted last year
- Majority of employees has been 2 years with the current manager (!)
- Majority of employees are satisfied(3) or highly satisfied(4) with the enviroment
- Majority of employees are highly satisfied(4) or satisfied(3) with their job 
- Majority of employees are highly satisfied with the work/life balance
- Most of the employees are highly involved in their job according to the managers
- All employees have an excellent of outstanding performance (no low or good performance) (!)
- The column mean time shows that almost half of the employees are at the office less than eight hours per day. We assume that a great number of sales employees do their work outside of the office.

In [ ]:
# Change type from integer to category for education feature
general['education'] = general['education'].astype('category')

In [ ]:
general.dtypes

## Change type of categorical features

In [ ]:
general[['joblevel','education','stockoptionlevel','environmentsatisfaction', 'jobsatisfaction', 'worklifebalance','jobinvolvement','performancerating']]=general[['joblevel','education','stockoptionlevel','environmentsatisfaction', 'jobsatisfaction', 'worklifebalance','jobinvolvement','performancerating']].astype(object)

In [ ]:
general.dtypes

## Numerical features

In [ ]:
numerical = general.select_dtypes(np.number)
numerical = numerical.drop(['employeeid'], axis = 1).reset_index(drop = True)
numerical

## Standardize numerical features

In [ ]:
#zscore=(numerical-numerical.mean())/numerical.std()
#zscore
#numerical.mean()

In [ ]:
corr=numerical.corr()
corr

In [ ]:
import statsmodels.api as sm
from scipy.stats import boxcox
mask = np.zeros_like(corr)
mask[np.triu_indices_from(mask)] = True
with sns.axes_style("white"):
    f, ax =plt.subplots(figsize=(9, 7))
    multicollinearity_ax = sns.heatmap(corr, mask=mask, cmap='coolwarm', vmin=-1,vmax=1,annot=True, square=True)

In [ ]:
numerical_targ = pd.concat([numerical, general['attrition']],axis=1)

In [ ]:
numerical_targ

In [ ]:
numerical_targ['attrition'] = numerical_targ['attrition'].apply(lambda x:0 if x=="No" else 1)
numerical_targ

In [ ]:
numerical_targ['attrition'].value_counts()

In [ ]:
corr=numerical_targ.corr()
mask = np.zeros_like(corr)
mask[np.triu_indices_from(mask)] = True
with sns.axes_style("white"):
    f, ax =plt.subplots(figsize=(9, 7))
    multicollinearity_ax = sns.heatmap(corr, mask=mask, cmap='coolwarm', vmin=-1,vmax=1,annot=True, square=True)

- No high correlation between any specific numerical feature & target variable

##Normalize numerical features

from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import QuantileTransformer

# distance from home 
qt = QuantileTransformer(output_distribution = 'normal')
numerical['distancefromhome'] = qt.fit_transform(numerical['distancefromhome'].to_numpy().reshape(-1,1))
sns.displot(numerical['distancefromhome'])

# number of companies

qt = QuantileTransformer(output_distribution = 'normal')
numerical['numcompaniesworked'] = qt.fit_transform(numerical['numcompaniesworked'].to_numpy().reshape(-1,1))
sns.displot(numerical['numcompaniesworked'])

# years since last promotion
qt = QuantileTransformer(output_distribution = 'normal')
numerical['yearssincelastpromotion'] = qt.fit_transform(numerical['yearssincelastpromotion'].to_numpy().reshape(-1,1))
sns.displot(numerical['yearssincelastpromotion'])

# monthly income
qt = QuantileTransformer(output_distribution = 'normal')
numerical['monthlyincome'] = qt.fit_transform(numerical['monthlyincome'].to_numpy().reshape(-1,1))
sns.displot(numerical['monthlyincome'])

# percent salary hike
qt = QuantileTransformer(output_distribution = 'normal')
numerical['percentsalaryhike'] = qt.fit_transform(numerical['percentsalaryhike'].to_numpy().reshape(-1,1))
sns.displot(numerical['percentsalaryhike'])

# total working years
qt = QuantileTransformer(output_distribution = 'normal')
numerical['totalworkingyears'] = qt.fit_transform(numerical['totalworkingyears'].to_numpy().reshape(-1,1))
sns.displot(numerical['totalworkingyears'])

## Modeling numerical features : Logistic regression

### Xy split

In [ ]:
X= numerical
y= numerical_targ.attrition

### Train/Test split

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=.30,random_state=123)
X_train

### Standardize

In [ ]:

std_scaler = StandardScaler().fit(X_train) 

X_train_scaled = std_scaler.transform(X_train)
X_train_scaled

In [ ]:
X_test_scaled=std_scaler.transform(X_test)
X_test_scaled

### Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import PowerTransformer
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
from sklearn.metrics import plot_confusion_matrix


log_model = LogisticRegression() 
trans = PowerTransformer()

trans.fit(X_train_scaled)

X_train_mod = trans.transform(X_train_scaled)
X_test_mod  = trans.transform(X_test_scaled)

log_model.fit(X_train_mod, y_train)

y_pred_train_log = log_model.predict(X_train_mod)
y_pred_test_log = log_model.predict(X_test_mod)

performance_log = pd.DataFrame({'Error_metric': ['Accuracy','Precision','Recall'],
                               'Train': [accuracy_score(y_train, y_pred_train_log),
                                         precision_score(y_train, y_pred_train_log),
                                         recall_score(y_train, y_pred_train_log)],
                               'Test': [accuracy_score(y_test, y_pred_test_log),
                                        precision_score(y_test, y_pred_test_log),
                                        recall_score(y_test, y_pred_test_log)]})

display(performance_log)
print("Confusion matrix for the train set")
print(confusion_matrix(y_train,y_pred_train_log))
plot_confusion_matrix(log_model,X_train_mod,y_train, values_format = 'd')
plt.show()

print()
print()

print("Confusion matrix for the test set")
print(confusion_matrix(y_test, y_pred_test_log))
plot_confusion_matrix(log_model,X_test_mod,y_test, values_format = 'd')
plt.show()

## Categorical features

In [ ]:
categorical = general.select_dtypes(include=object)
categorical = categorical.drop(['attrition'], axis=1).reset_index(drop = True)
categorical

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

### Ordinal encoding

In [ ]:
cat_ord = categorical[['businesstravel']]

In [ ]:
categories = [['Non-Travel','Travel_Rarely','Travel_Frequently']]

In [ ]:
categorical['education'].value_counts()

In [ ]:
ordinal_encoder = OrdinalEncoder(categories=categories)
cat_ord_encoded = pd.DataFrame(ordinal_encoder.fit_transform(cat_ord),columns=cat_ord.columns)

In [ ]:
cat_ord_2 = categorical[['education','joblevel', 'stockoptionlevel', 'environmentsatisfaction','worklifebalance','jobsatisfaction','jobinvolvement','performancerating']]

In [ ]:
cat_ord_encoded

In [ ]:
cat_ord = pd.concat([cat_ord_2, cat_ord_encoded], axis=1)

In [ ]:
cat_ord

In [ ]:
categorical

### Nominal Encoding

In [ ]:
cat_nom = categorical[['department','educationfield','gender','jobrole','maritalstatus']]
cat_nom

In [ ]:
cat_nom_encoded = pd.get_dummies(cat_nom)
cat_nom_encoded

In [ ]:
cat_encoded = pd.concat([cat_nom_encoded, cat_ord], axis=1)

In [ ]:
cat_encoded

In [ ]:
## General merge (All features)

In [ ]:
hr = pd.concat([cat_encoded, numerical_targ], axis=1)
hr

## Modeling numerical and categorical features together

### Xy split

In [ ]:
X = hr.iloc[:,:-1]
X

In [ ]:
y = hr.iloc[:,-1]
y

### Train/test split

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

print(X.shape)
print(y.shape)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)
model = LogisticRegression()

In [ ]:
scores=cross_val_score(model, X_train, y_train, cv=5)
scores

In [ ]:
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

In [ ]:
std_scaler = StandardScaler().fit(X_train) 
X_train_scaled = std_scaler.transform(X_train)
X_test_scaled=std_scaler.transform(X_test)

In [ ]:
log_model = LogisticRegression() 
trans = PowerTransformer()

trans.fit(X_train_scaled)

X_train_mod = trans.transform(X_train_scaled)
X_test_mod  = trans.transform(X_test_scaled)

log_model.fit(X_train_mod, y_train)

y_pred_train_log = log_model.predict(X_train_mod)
y_pred_test_log = log_model.predict(X_test_mod)

performance_log = pd.DataFrame({'Error_metric': ['Accuracy','Precision','Recall'],
                               'Train': [accuracy_score(y_train, y_pred_train_log),
                                         precision_score(y_train, y_pred_train_log),
                                         recall_score(y_train, y_pred_train_log)],
                               'Test': [accuracy_score(y_test, y_pred_test_log),
                                        precision_score(y_test, y_pred_test_log),
                                        recall_score(y_test, y_pred_test_log)]})

display(performance_log)
print("Confusion matrix for the train set")
print(confusion_matrix(y_train,y_pred_train_log))
plot_confusion_matrix(log_model,X_train_mod,y_train, values_format = 'd')
plt.show()

print()
print()

print("Confusion matrix for the test set")
print(confusion_matrix(y_test, y_pred_test_log))
plot_confusion_matrix(log_model,X_test_mod,y_test, values_format = 'd')
plt.show()

## Handling outliers numerical

In [ ]:
for column in numerical:
    plt.figure()
    numerical.boxplot([column])

### IQR

In [ ]:
def outliers(hr, column):
    for column in hr:
        Q1= hr[column].quantile(0.25)
        Q3 = hr[column].quantile(0.75)
        IQR = Q3 - Q1
        upper_limit = Q3 + 1.5 * IQR
        lower_limit = Q1 - 1.5 * IQR
    print (upper_limit, lower_limit)

In [ ]:
upper, lower = outliers(hr, column)

In [ ]:
new_hr = hr[(hr[column] > lower) & (hr[column] < upper)]

In [ ]:
new_hr

In [ ]:
new_hr.boxplot(column=['monthlyincome'])

In [ ]:
def outliers(hr):
    limits = list()
    for col in hr.columns:
        Q1= hr[col].quantile(0.25)
        Q3 = hr[col].quantile(0.75)
        IQR = Q3 - Q1
        upper_limit = Q3 + 1.5 * IQR
        lower_limit = Q1 - 1.5 * IQR
        limits.append((lower_limit, upper_limit))
        
    return limits


limits_iqr = outliers(hr)

In [ ]:
print(limits_iqr)

In [ ]:
limits_iqr = pd.DataFrame(limits_iqr, columns=['lower_limit',' upper_limit'])
limits_iqr

In [ ]:
def rem_out (hr,limits_iqr):
    for i in limits_iqr:
        new_hr = hr[(hr[column] > limits_iqr) & (hr[column] < limits_iqr)]
    return new_hr

In [ ]:
rem_out(hr,limits_iqr)